:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --LoginGombBorder: rgb(187, 153, 173);
    --LoginGombBoxShadow: rgb(217, 213, 233);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

#existingChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    min-height: 80%;
    gap: 10px;
    width: 95%;
    font-family: 'Josefin Sans', sans-serif;
}

.chat {
    background-color: var(--PostLight);
    filter: brightness(100%);
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 95%;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid var(--PrimaryAccent);
    cursor: pointer;
    transition: 0.25s;
}

.chat:hover {
    filter: brightness(90%);
}

.lastText {
    width: 95%;
    padding-right: 5px;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 14px;
    overflow: hidden;
    line-break: anywhere;
    margin-top: 0;
}

.chatName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--PrimaryDark3);
    margin: 0;
    width: 95%;
    color: #553333;
}

.chatImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.chatImgBorder {
    height: 85%;
    width: 100%;
    background-color: var(--PrimaryDark3);
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatImg {
    clip-path: circle();
    height: 100px;
    max-height: 92%;
    width: 100px;
    max-width: 92%;
    object-fit: cover;
}

.chatTexts {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 80%;
    height: fit-content;
    max-height: 100%;
    padding-bottom: 1%;
}

#newChatDiv {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#newChat {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: var(--Accent);
    border: 1px solid var(--AccentDark);
    padding: 0;
    filter: brightness(100%);
    transition: 0.25s;
}

#newChat:hover {
    filter: brightness(90%);
}

#newChat svg {
    height: 95%;
    aspect-ratio: 1/1;
    stroke: var(--AccentDark);
    transition: 0.25s;
}

#openedChat {
    background-color: var(--Primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    transform-origin: top left;
}

#openedChatWrapper {
    height: 50vh;
    flex-grow: 1;
}

/* You won't believe what it does */
/* https://open.spotify.com/track/51EpFns3CG9taCMQz6XDom?si=8b358a3ae3994cb1 */
.invisible {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

.openedChatClose {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2%;
    padding-top: 2px;
    align-items: center;
}

.openedChatClose button {
    aspect-ratio: 1/1;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    background-color: var(--Accent);
    padding: 0;
    filter: brightness(100%);
}

.openedChatClose button:hover {
    border-radius: 50px;
    filter: brightness(80%);
}

.openedChatClose button svg {
    aspect-ratio: 1/1;
    height: 100%;
    stroke: var(--AccentDark);
    stroke-width: 1.5px;
}

.openedChatName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 2px;
}

.openedChatName h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: var(--AccentDark);
    max-height: 100%;
}

.messageRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    max-width: 75%;
    border-radius: 10px;
    line-break: anywhere;
    margin: 0;
    font-size: 1.2rem;
    padding: 2px 7px 2px 7px;
}

.messageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messageDate {
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

.FromCurrentUserSide {
    align-self: flex-end;
    border-bottom-right-radius: 0px;
}

.FromCurrentUserColor {
    background-color: var(--Accent);
    border: 2px solid var(--AccentDark);
    color: var(--AccentDark);
}

.FromOtherUserSide {
    align-self: start;
    border-bottom-left-radius: 0px;
}

.FromOtherUserColor {
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(150, 150, 150);
    color: rgb(68, 68, 68);
}

.openedChatNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    background-color: var(--Accent);
    z-index: 1;
}

.messagesDiv {
    height: 47vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 5%;
    padding-bottom: 4vh;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--PrimaryLight1);
}

.newMessageWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    background-color: var(--PrimaryLight1);
}

.newMessageWrapper textarea {
    min-height: 40px;
    max-height: 15vh;
    font-size: 18px;
    line-height: 22px;
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 15%;
    padding-top: 0.75vh;
    width: 95%;
    position: relative;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid var(--Accent);
    background-color: inherit;
    color: var(--AccentDark);
    transition: 0.25s;
}

.newMessageWrapper textarea:focus {
    box-shadow: 0 0 3px 1px var(--Accent);
}

.newMessageWrapper button {
    background-color: transparent;
    border: none;
    aspect-ratio: 1/1;
    width: 34px;
    height: 34px;
    border-radius: 500px;
    position: absolute;
    right: 5%;
    bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
.newMessageWrapper button svg {
    stroke-width: 1.5px;
    stroke: var(--Accent);
}

.newMessageWrapper button:hover {
    background-color: var(--AccentDark);
}

#newChatModal {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(63, 63, 63, 0.7);
    left: 0;
    top: 0;
    padding-top: 4vh;
}

#newChatContainer {
    width: 30vw;
    height: 80vh;
    background-color: var(--PrimaryLight1);
    display: flex;
    flex-direction: column;
}

#newChatForm {
    padding-top: 2vh;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2.5vh;
}

#newChatImgDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    margin-left: 5%;
    margin-right: 5%;
}

#newChatImgWrapper {
    width: 25%;
    height: 100%;
}

#newChatImg {
    width: 95%;
    height: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
    clip-path: circle();
}

#newChatImgInput {
    display: none;
}

/*TODO SZÉPRE FORMÁZNI*/
#newChatImgLabel {
    transition: 0.25s;
    width: 70%;
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 188, 188);
    border: 1px solid black;
}

#newChatImgLabel:hover {
    background-color: rgb(100, 100, 100);
}

#newChatName {
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    outline: none;
}

#newChatUsers {
    height: 50vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

#newChatUserInput {
    outline: none;
    height: 5vh;
}

#newChatUserWrapper {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 43vh;
}

#newChatUserSuggestionList,
#newChatAddedUsers {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: calc(19vh - 2px);
}

.suggestedUser,
.addedUser {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

.selected {
    background-color: rgb(200, 220, 240);
}

#newChatCreateCancel {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 10vh;
    padding-bottom: 3vh;
}

#newChatCreate {
    width: 70%;
}

#newChatCancel {
    width: 25%;
}
