/*TODO A FELTÖLTÉS FELÜLETNEK KELL FORMÁZÁS */
/*? ID-K: uploadModal, uploadForm, carouselContainer, carouselContent, carouselControl, uploadFile, uploadFeedbackDiv, uploadFeedback, loadFiles, uploadDescription, uploadLocation, uploadPost, cancelPost |*/
/*? Classok: tempSlide, tempSerialNumber, tempVideo, tempImage, slideShowController, uploadFeedback */

/*
rgb(200, 150, 150)
rgb(250, 200, 200)
rgb(220, 220, 220)
rgb(190, 110, 110)
rgb(170, 90, 90)
rgb(100, 100, 100)
rgb(150, 100, 100)
*/

:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    /*font-optical-sizing: auto;*/
    font-size: 14px;
    overflow: hidden;
    background: var(--SecondaryDark);
    /*
    background: radial-gradient(
        circle,
        rgba(255, 221, 0, 1) 5%, rgba(200, 230, 255, 1) 5%,
        rgba(170, 200, 225, 1) 50%,
        rgba(140, 170, 195, 1) 100%
    );

    background: #333333;
    background: linear-gradient(
        315deg,
        rgba(51, 51, 51, 1) 0%,
        rgba(64, 0, 0, 1) 10%,
        rgba(85, 0, 0, 1) 20%,
        rgba(51, 0, 0, 1) 30%,
        rgba(102, 0, 0, 1) 40%,
        rgba(102, 51, 51, 1) 50%,
        rgba(85, 34, 34, 1) 60%,
        rgba(53, 0, 0, 1) 70%,
        rgba(68, 0, 0, 1) 80%,
        rgba(51, 17, 17, 1) 90%,
        rgba(68, 0, 0, 1) 100%
    );*/
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descriptionSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentSpace {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: scroll;
    height: 25rem;
}

.slideShowController {
    user-select: none;
    text-decoration: none;
    color: white;
}

.slideShowController:hover {
    cursor: pointer;
    color: gainsboro;
}

#rendezesChatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rendezesContainer {
    height: 40%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    transition: 0.25s;
    scrollbar-color: var(--PrimaryAccent) var(--Primary);
    scrollbar-width: thin;
}

#chatContainer {
    height: 45%;
    overflow-y: auto;
    scrollbar-color: var(--PrimaryAccent) var(--Primary);
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    z-index: 1;
    transition: 0.25s;
}

#trendingTitle {
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.postSortTitle {
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.trendingButton {
    width: 31%;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--PrimaryAccent);
    background-color: var(--Primary);
    color: var(--PostDark);
    transition: 0.2s;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    filter: brightness(100%);
}

.trendingButton,
.egyebButton,
.postSearchWrapper {
    border-radius: 3px;
}

.trendingButton:hover,
.egyebButton:hover {
    filter: brightness(80%);
}

.egyebButton {
    height: 80%;
    width: 90%;
    background-color: var(--Primary);
    border: 1px solid var(--PrimaryAccent);
    color: var(--PostDark);
    font-size: 1rem;
    font-weight: 350;
    transition: 0.2s;
}

.disabledButton {
    filter: brightness(85%) !important;
    cursor: not-allowed !important;
}

.postSearchWrapper {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--PrimaryAccent);
    background-color: var(--Primary);
}

.postSearchWrapper input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 3%;
    font-size: 1rem;
    border-right: 1px solid var(--PrimaryAccent);
    background-color: var(--PostLight);
    color: var(--PostDark);
}

#postSearchSVGWrapper,
#postSearchSVGWrapperMobile {
    width: 20%;
    height: 100%;

    filter: brightness(100%);
    background-color: inherit;
    transition: 0.25s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#postSearchSVGWrapper svg,
#postSearchSVGWrapperMobile svg {
    height: 100%;
    stroke-width: 1.5px;
    stroke: var(--PrimaryAccent);
}

#postSearchSVGWrapper:hover,
#postSearchSVGWrapperMobile:hover {
    filter: brightness(85%);
}

.usernamePopup {
    z-index: 1000;
    position: fixed;
    width: auto;
    padding: 5px 10px 5px 10px;
    opacity: 100% !important;
    background-color: rgb(220, 220, 220);
    border: rgb(200, 200, 200) 2px solid;
}

.home {
    display: flex;
    flex-direction: row;
    height: 95vh;
    max-height: 95vh;
    position: relative;
}

.chat-and-sort {
    width: 15vw;
    min-width: 200px;
    background-color: var(--Primary);
    height: 100%;
    transform-origin: left;
    animation: fadeInRight 1s forwards;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.25s;
    box-shadow: 3px 0px 3px -3px var(--PostAccent);
}

.posts-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 85vw;
    height: calc(100% - 1vh);
    gap: 10vw;
    padding-left: 15vw;
    scrollbar-color: var(--PostAccent) var(--SecondaryDark);
    scroll-behavior: smooth;
    margin-top: 1vh;
}

.rope {
    background-color: navajowhite;
    opacity: 100%;
    border: none;
    height: 5px;
    z-index: 2;
    margin: 0;
    width: 100%;
    min-height: 5px;
    position: relative;
}

.ropeTexture {
    position: relative;
    background-image: url('/images/preview.jpg');
    background-position: center center;
    background-size: 15px 15px;
    height: 5px;
    min-height: 5px;
    border: none;
    opacity: 50%;
    z-index: 3;
    width: 100vw;
    margin: 0;
    bottom: 5px;
}

.ropeDiv {
    position: absolute;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 5px;
    width: 225%;
    bottom: 100%;
    z-index: 10;
    animation: fadeInLeft 1s forwards;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90%;
    width: 40vw;
    min-width: 600px;
    max-width: 1000px;
    z-index: 10;
    flex-shrink: 0;
    margin-top: 35px;
}

.imgDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: black;
}

.imgDiv img {
    width: 100%;
    object-fit: contain;
}

#clipDiv {
    z-index: 1000;
}

.clip {
    position: absolute;
    bottom: 94%;
    width: 35px;
    height: 85px;
    z-index: 6000;
}

.imgClip {
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    background-color: wheat;
    z-index: 5000;
}

.imgClipTexture {
    position: absolute;
    bottom: 0;
    background-image: url('/images/retina-wood.png');
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    z-index: 5001;
    opacity: 70%;
}

#titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    transition: 0.25s;
}

#title {
    font-size: 2rem;
    margin: 0;
    width: 90%;
    border-bottom: 1px solid var(--PrimaryAccent);
    text-align: center;
    color: #212e00;
}

.sortRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 1 0;
    padding-left: 1%;
    padding-right: 1%;
}

.loadMorePost {
    flex-shrink: 0;
    margin-top: 35px;
    height: 90%;
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--PostDark);
    text-align: center;
}

.loadMorePost svg:hover {
    background-color: var(--PostAccent);
}

.loadMorePost svg {
    height: fit-content;
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
    stroke: var(--PostDark);
    clip-path: circle();
    cursor: pointer;
    transition: 0.25s;
    padding: 10px;
}

#nav {
    box-shadow: none;
    animation: fadeInUp 1s forwards;
    z-index: 100;
    box-shadow: 0px -5px 5px -3px var(--PrimaryAccent);
}

#mobileTitle {
    font-size: 4vh;
    height: fit-content;
    width: fit-content;
    margin: 0;
    color: var(--PostDark);
}

#mobileTitleWrapper {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: var(--Primary);
    transition: 0.5s;
}

.activeSort {
    border-color: var(--PrimaryAccent) !important;
    background-color: var(--PostLight);
    color: var(--PostDark);
    font-weight: 400 !important;
}

.activeSort svg {
    stroke: var(--PostDark) !important;
}

.activeSort input {
    border-right: 1px solid var(--PostDark);
    color: var(--PostDark);
}

#navMobile {
    display: none;
}

#mobileSort {
    width: 85vw;
    height: 50vh;
    background-color: var(--Primary);
    border-radius: 5px;
    position: absolute;
    bottom: 10vh;
    left: 7.5vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    gap: 5%;
    border: 1px solid var(--PrimaryAccent);
    box-shadow: 0 0 10px 1px var(--PrimaryDark2);
}

#mobileSort .trendingButton {
    width: 90%;
    flex: 1 1 0;
}

#mobileSort .postSearchWrapper {
    width: 90%;
    height: auto;
    flex: 1 1 0;
}

#openPostUpload {
    width: 50px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background-color: var(--Primary);
    border: 1px solid var(--PrimaryAccent);
    box-shadow: 0 0 3px 1px var(--PrimaryDark3);
    border-radius: 50%;
    filter: brightness(100%);
    transition: 0.25s;
}

#openPostUpload svg {
    stroke: var(--PrimaryAccent);
    height: 66%;
    aspect-ratio: 1/1;
}

#openPostUpload:hover {
    filter: brightness(85%);
}

#uploadModal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
}

#uploadModalContent {
    width: 40vw;
    height: 90vh;
    border-radius: 20px;
    background-color: var(--Post);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--PostDark);
    padding: 2vh 2vw 2vh 2vw;
    font-weight: 350;
    box-shadow: 0 0 15px 5px var(--PostDark);
}

#postUploadTitle {
    font-size: 2rem;
    font-weight: 400;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid var(--PostAccent);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#uploadForm {
    height: 90%;
    gap: 1%;
    width: 100%;
    padding-top: 1%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--PostAccent) var(--Post);
}

#fileUpload {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

#descriptionTags {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}

#location {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cancelUpload {
    height: 10%;
    width: 100%;
}

.uploadFileLabel {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploadFileLabelText {
    height: 100%;
    border: 1px solid var(--PostAccent);
    width: 100%;
    border-radius: 8px;
    transition: 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--PostLight);
    font-size: 1.25rem;
    text-align: center;
    filter: brightness(100%);
}

#uploadFileLabelText:hover {
    filter: brightness(85%);
}

#tempSlideshowWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    min-height: 40%;
    max-height: 40%;
    border: 1px solid var(--PostAccent);
    border-radius: 3px;
}

#uploadLocationWrapper {
    display: flex;
    flex-direction: row;
    height: 10%;
    gap: 20px;
}

#tempSlideshowWrapper .postImages {
    height: 100%;
}

#tempSlideshowWrapper .slideshowItem {
    object-fit: contain;
    max-height: 100%;
}

.uploadInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.uploadDescription,
.uploadTags {
    height: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    max-width: 48.5%;
    position: relative;
}

.uploadDescription span {
    height: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
}

.uploadTags span {
    height: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
}

.uploadDescription textarea {
    height: auto;
    flex: 1 1 0;
    font-size: 1rem;
    resize: none;
    outline: none;
    padding: 10px 50px 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--PostAccent);
    background-color: var(--PostLight);
    transition: 0.25s;
    color: var(--PostDark);
    scrollbar-width: thin;
}

#descriptionLength {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 0.9rem;
    font-weight: 350;
    user-select: none;
    color: var(--PostDark);
}

#tagWrapper {
    flex: 1 1 0;
    height: auto;
    max-height: calc(100% - 2rem);
    padding: 8px;
    border: 1px solid var(--PostAccent);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#uploadTags {
    width: 100%;
    height: 30%;
    min-height: 1.5rem;
    font-size: 1rem;
    border: 1px solid var(--PostAccent);
    background-color: var(--PostLight);
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
    color: var(--PostDark);
}

#forTags {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--PostAccent) var(--Post);
    justify-content: center;
    row-gap: 2px;
    column-gap: 5px;
}

.addedTag {
    height: 1.75rem;
    font-size: 1rem;
    width: fit-content;
    border: 1px solid var(--PostAccent);
    background-color: var(--PostLight);
    color: var(--PostDark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(100%);
    transition: 0.25s;
}

.addedTag:hover {
    filter: brightness(85%);
}

.uploadDescription textarea:focus,
#uploadTags:focus {
    box-shadow: 0 0 2px 1px var(--PostAccent);
}

.uploadLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 10px;
    flex: 1 1 0;
}

.uploadLocation span {
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
}

.uploadLocation input {
    flex: 1 1 0;
    width: 100%;
    outline: none;
    background-color: var(--PostLight);
    border: 1px solid var(--PostAccent);
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 5px 5px 5px 10px;
    height: 100%;
    color: var(--PostDark);
}

#cancelUpload {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
}

#cancelUpload button {
    flex: 1 1 0;
    max-width: 40%;
    height: 75%;
    border-radius: 8px;
    background-color: var(--PostLight);
    border: 1px solid var(--PostAccent);
    color: var(--PostDark);
    filter: brightness(100%);
    transition: 0.25s;
    font-size: 1.25rem;
}

#cancelUpload button:hover {
    filter: brightness(85%);
}

.invalid {
    border-color: var(--invalidRed) !important;
    color: var(--invalidRed) !important;
}

@media (max-width: 1000px) {
    #navMobile {
        display: flex;
    }

    #home {
        flex-direction: column !important;
        height: 100vh;
        max-height: 100vh;
    }
    .clip {
        display: none;
    }
    .ropeDiv {
        position: relative;
        width: 96vw;
        height: 1px;
        margin-bottom: 0;
        bottom: 0;
        margin-top: 50px;
        animation: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .rope {
        min-height: 1px;
        height: 100%;
        background-color: rgb(109, 109, 94);
    }
    .ropeTexture {
        display: none;
    }
    .chat-and-sort {
        display: none;
    }
    .posts-container {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: 0;
        gap: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .post {
        margin-top: 50px;
        width: 90vw;
        height: 90%;
        min-width: 0;
        flex-direction: column-reverse;
    }

    #mobileTitleWrapper {
        display: flex;
    }

    #nav {
        display: none !important;
    }

    #uploadModalContent {
        width: 90vw;
        height: 85vh;
    }

    #uploadFileLabelText {
        font-size: 1rem;
    }

    .uploadLocation span {
        font-size: 0.9rem;
    }
}
