/*TODO A FELTÖLTÉS FELÜLETNEK KELL FORMÁZÁS */
/*? ID-K: uploadModal, uploadForm, carouselContainer, carouselContent, carouselControl, uploadFile, uploadFeedbackDiv, uploadFeedback, loadFiles, uploadDescription, uploadLocation, uploadPost, cancelPost |*/
/*? Classok: tempSlide, tempSerialNumber, tempVideo, tempImage, slideShowController, uploadFeedback */

/*
rgb(200, 150, 150)
rgb(250, 200, 200)
rgb(220, 220, 220)
rgb(190, 110, 110)
rgb(170, 90, 90)
rgb(100, 100, 100)
rgb(150, 100, 100)
*/

:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    /*font-optical-sizing: auto;*/
    font-size: 14px;

    background: #ffdd00;
    background: radial-gradient(
        circle,
        /*rgba(255, 221, 0, 1) 5%,*/ rgba(200, 230, 255, 1) 5%,
        rgba(170, 200, 225, 1) 50%,
        rgba(140, 170, 195, 1) 100%
    );

    /*
    background: #333333;
    background: linear-gradient(
        315deg,
        rgba(51, 51, 51, 1) 0%,
        rgba(64, 0, 0, 1) 10%,
        rgba(85, 0, 0, 1) 20%,
        rgba(51, 0, 0, 1) 30%,
        rgba(102, 0, 0, 1) 40%,
        rgba(102, 51, 51, 1) 50%,
        rgba(85, 34, 34, 1) 60%,
        rgba(53, 0, 0, 1) 70%,
        rgba(68, 0, 0, 1) 80%,
        rgba(51, 17, 17, 1) 90%,
        rgba(68, 0, 0, 1) 100%
    );*/
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes openChat {
    0% {
        width: 0%;
        height: 23.5vh;
        left: 50%;
        right: 50%;
        top: 0;
    }
    20% {
        width: 25%;
        left: 25%;
        right: 25%;
        top: 0;
    }
    40% {
        width: 50%;
        left: 12.5%;
        right: 12.5%;
        top: 0;
    }
    60% {
        width: 75%;
        left: 6.125%;
        right: 6.125%;
        top: 0;
    }
    80% {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
}

.descriptionSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentSpace {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: scroll;
    height: 25rem;
}

.slideShowController {
    user-select: none;
    text-decoration: none;
    color: white;
}

.slideShowController:hover {
    cursor: pointer;
    color: gainsboro;
}

#rendezesChatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rendezesContainer {
    height: 30%;
    max-height: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    transition: 0.25s;
}

#chatContainer {
    height: 55%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    z-index: 1;
    transition: 0.25s;
}

#trendingTitle {
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.trendingButton {
    width: 31%;
    font-weight: 350;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgb(183, 197, 135);
    background-color: rgb(233, 247, 185);
    transition: 0.2s;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.trendingButton,
.egyebButton {
    border-radius: 3px;
}

.trendingButton:hover,
.egyebButton:hover {
    background-color: rgb(213, 227, 165);
}

.egyebButton {
    height: 80%;
    width: 90%;
    background-color: rgb(233, 247, 185);
    border: 1px solid rgb(183, 197, 135);
    font-size: 1rem;
    font-weight: 350;
    transition: 0.2s;
}

.usernamePopup {
    z-index: 1000;
    position: fixed;
    width: auto;
    padding: 5px 10px 5px 10px;
    opacity: 100% !important;
    background-color: rgb(220, 220, 220);
    border: rgb(200, 200, 200) 2px solid;
}

.interactionButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
}

.interactionButton svg {
    height: 100%;
    height: 100%;
    fill: none;
    stroke: #212e00;
}

.activeLike svg {
    fill: #212e00;
}

.activeFavorite svg {
    fill: goldenrod;
}

.likeDiv {
    min-height: 20px;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home {
    display: flex;
    flex-direction: row;
    height: 95vh;
    position: relative;
}

.chat-and-sort {
    width: 15vw;
    min-width: 200px;
    background-color: rgb(233, 247, 185);
    height: 100%;
    transform-origin: left;
    animation: fadeInRight 1s forwards;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.25s;
}

.posts-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 85vw;
    height: 100%;
    gap: 10vw;
    padding-left: 12.5vw;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin-top: 1vh;
}

#posts {
    display: flex;
    flex-direction: row;
    padding-left: 13vw;
    padding-right: 10vw;
    gap: 250px;
    width: 100%;
    height: 95%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: scroll;
    margin-top: 15px;
}

.rope {
    background-color: navajowhite;
    opacity: 100%;
    border: none;
    height: 5px;
    z-index: 2;
    margin: 0;
    width: 100%;
    min-height: 5px;
    position: relative;
}

.ropeTexture {
    position: relative;
    background-image: url('/images/preview.jpg');
    background-position: center center;
    background-size: 15px 15px;
    height: 5px;
    min-height: 5px;
    border: none;
    opacity: 50%;
    z-index: 3;
    width: 100%;
    margin: 0;
    bottom: 5px;
}

.ropeDiv {
    position: absolute;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 5px;
    width: 225%;
    bottom: 100%;
    z-index: 10;
    animation: fadeInLeft 1.5s forwards;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90%;
    width: 40vw;
    min-width: 600px;
    max-width: 1000px;
    z-index: 10;
    flex-shrink: 0;
    margin-top: 35px;
}

.postContent {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 25px;
    /*animation: fadeInUp 1s forwards;*/
    box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 0.75);
}

.imgDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: black;
}

.imgDiv img {
    width: 100%;
    object-fit: contain;
}

#clipDiv {
    z-index: 1000;
}

.clip {
    position: absolute;
    bottom: 94%;
    width: 35px;
    height: 85px;
    z-index: 6000;
}

.imgClip {
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    background-color: wheat;
    z-index: 5000;
}

.imgClipTexture {
    position: absolute;
    bottom: 0;
    background-image: url('/images/retina-wood.png');
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    z-index: 5001;
    opacity: 70%;
}

#titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    transition: 0.25s;
}

#title {
    font-size: 2rem;
    margin: 0;
    width: 90%;
    border-bottom: 1px solid rgb(183, 197, 135);
    text-align: center;
    color: #212e00;
}

.sortRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 1 0;
    padding-left: 1%;
    padding-right: 1%;
}

.loadMorePost {
    flex-shrink: 0;
    margin-top: 35px;
    height: 90%;
    width: 15vw;
}

.loadMorePost svg {
    height: 100%;
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#nav {
    box-shadow: none;
}

.slideshowItem {
    display: block;
    background-color: black;
}
