#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: blueviolet;
    font-family: 'Josefin Sans', sans-serif;
}

#navbar {
    display: none;
}

#sidebar {
    background-color: var(--PrimaryDark);
    color: white;
    width: 12vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: 0.25s;
    z-index: 1;
}

#collapseSidebar {
    position: absolute;
    height: 5vh;
    aspect-ratio: 1/1;
    z-index: 100;
    left: 10.75vw;
    background-color: inherit;
    border: none;
    transition: 0.25s;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-left: 2px solid var(--PrimaryLight);
    border-bottom: 2px solid var(--PrimaryLight);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#collapseSidebar img {
    width: 100%;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#sidebarTitle {
    padding-top: 1vh;
    width: 85%;
    min-height: 1vh;
    font-variant: small-caps;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#adminUsername {
    border-bottom: 1px solid white;
    text-align: center;
    width: 100%;
    font-size: 5.5vh;
    margin: 0;
    z-index: 9;
    font-variant: small-caps;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navButtons {
    width: 90%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    gap: 1px;
}

.navButton {
    transition: 0.25s;
    height: 25%;
    width: 100%;
    text-align: start;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-variant: small-caps;
    font-size: medium;
    padding-left: 0.25vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    border: 1px solid transparent;
    text-decoration: none;
}

.navButton span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.navButton:hover {
    background-color: rgb(59, 75, 83);
    border: 1px solid aqua;
    color: aqua;
}
.activeNavButton {
    background-color: rgb(69, 85, 93);
    border: 1px solid aqua;
    color: aqua;
}
.navButtonSVG {
    height: 1.2rem;
}

#navSearches {
    padding-top: 2vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    height: 12vh;
    gap: 20%;
}

.navSearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    gap: 10%;
}

.searchLabel {
    width: 100%;
    height: 45%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    border: 1px solid white;
}

.focusSearch {
    border: 1px solid aqua;
}

.searchLabel input {
    border: none;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 75%;
    padding: 0;
    padding-left: 6%;
    font-size: 20px;
    height: 100%;
}

.searchLabel button {
    width: 25%;
    background-color: var(--PrimaryDark);
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchLabel button:hover {
    background-color: rgb(64, 80, 88);
}

#activeUsers {
    padding-top: 5vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    width: 90%;
    height: 24vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5%;
}

.userTrackerTooltip {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    visibility: hidden;
    position: absolute;
    text-align: start;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-bottom: 10%;
    background-color: rgb(50, 190, 50);
}

.userTrackerColumn:hover .userTrackerTooltip {
    visibility: visible;
    z-index: 100;
}

#yAxis {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 10%;
    height: 17.5vh;
    align-items: center;
    top: 4.75vh;
}

#yAxis span {
    height: 20%;
    font-size: 12px;
    position: relative;
}

#yAxisLines {
    position: absolute;
    width: 80%;
    height: calc(20vh - 1px);
    display: flex;
    flex-direction: column;
    left: 15%;
    gap: 20%;
    padding-bottom: 1.5vh;
    top: 5vh;
}

#yAxisLines hr {
    width: 100%;
    margin: 0;
    opacity: 0.75;
    color: white;
}

#userTrackerTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    position: absolute;
    top: 2vh;
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
}
#userTrackerColumns {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5%;
    width: 80%;
    left: 16.5%;
    height: calc(15vh + 2px);
}

.userTrackerColumn {
    position: relative;
    background-color: rgb(70, 220, 70);
    width: 15%;
    height: 0%;
    z-index: 0;
    bottom: 0;
}
#userTrackerTimes {
    position: absolute;
    width: 80%;
    z-index: 10;
    height: 2vh;
    left: 16.5%;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
#userTrackerTimes span {
    width: 15%;
    font-size: 0.65vw;
    text-align: center;
}

#adminContent {
    padding-top: 6vh;
    padding-bottom: 10vh;
    height: 100%;
    background-color: var(--PrimaryLight);
    width: 88vw;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: 0.25s;
    align-items: center;
    scrollbar-color: var(--PrimaryLight) var(--PrimaryDark);
    scroll-behavior: smooth;
    overflow-y: scroll;
    gap: 5vh;
}

.adminPanel {
    width: 65vw;
    height: 65vh;
    box-shadow: 0 0 5px 1px rgba(54, 70, 95, 0.5);
    border-radius: 25px;
    overflow-x: clip;
    overflow-y: clip;
}

.adminPanelHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6.5vh;
    width: 65vw;
    box-shadow: 0px -2px 5px 1px var(--SecondaryDark);
    background-color: var(--PrimaryDark);
    color: var(--PrimaryLight);
}

.back {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2.75%;
    border: none;
    background-color: var(--PrimaryLight);
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.back:hover {
    background-color: var(--HoverLight);
}

.back img {
    width: 60%;
}

.adminPanelHeader h3 {
    font-size: 4vh;
    margin: 0;
}

.adminPanelContent {
    width: 65vw;
    height: calc(65vh - 6.5vh);
}

#profilesTableDiv {
    transition: 0.25s;

    display: block;
}

.tableWrapper {
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--SecondaryDark) var(--PrimaryLight);
}

table {
    width: 100%;
    text-align: center;
    color: var(--SecondaryDark);
    table-layout: fixed;
}

th {
    height: 4vh;
    font-size: 2vh;
    min-width: 10%;
}

th div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

th div img {
    height: 60%;
}

td {
    height: 4vh;
    font-size: 1.65vh;
    font-weight: 370;
}

tr {
    border-bottom: 1px solid var(--SecondaryDark);
    width: 100%;
    user-select: none;
}
tr:hover td {
    background-color: var(--HoverLight);
    cursor: pointer;
}

.commentContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;

    font-size: 1.25vh;
}

#adminTitleMobile {
    display: none;
}

#openedProfile {
    transition: 0.25s;
    display: none;
    flex-direction: column;
    height: 58.5vh;
    width: 100%;
}

#profileContent {
    width: 100%;
    height: 52vh;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.profilePicDiv {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.profilePicWrapper {
    width: 80%;
    aspect-ratio: 1/1;
}

#profilePic {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    clip-path: circle();
}

.profileDataDiv {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    padding: 1%;
    color: var(--PrimaryDark);
    overflow: hidden;
}

.profileDataDiv div::selection {
    background-color: var(--PrimaryDark);
    color: var(--PrimaryLight);
}

.profileDataRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    width: 100%;
    height: 12.5%;
    gap: 5%;
}

.profileIdWrapper,
.profileEmailWrapper,
.profileRegDateWrapper,
.profileUsernameWrapper {
    height: 100%;
    width: 47.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 1vw;
}
.profileIdWrapper div,
.profileEmailWrapper input,
.profileRegDateWrapper input,
.profileUsernameWrapper input {
    border: none;
    width: 100%;
    outline: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.profileUsernameWrapper {
    font-size: 1.5vw;
    font-weight: 500;
}

.profileRegDateWrapper,
.profileEmailWrapper,
.profileIdWrapper {
    font-weight: 350;
    font-size: 1.25vw;
}

#profileId {
    overflow: hidden;
}

#profileRegDate {
    border: none;
}

.profileData {
    background-color: inherit;
}

.profileBiographyWrapper {
    height: 70%;
    padding: 1%;
    border: 1px solid var(--SecondaryDark);
}
.profileBiographyWrapper span {
    height: 20%;
}

#profileBiography {
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: thin;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
}

#profileActions {
    width: 100%;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
}

.profAction {
    height: 100%;
    width: 33.33333%;
    user-select: none;
}

.profAction:hover {
    cursor: pointer;
}

.profAction h3 {
    height: 33.33%;
    transition: 0.25s;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    margin: 0;
}

#profActionBan:hover h3 {
    background-color: rgb(230, 154, 154);
    border-color: rgb(155, 79, 79);
    color: rgb(99, 26, 26);
}

#profActionBan h3 {
    background-color: rgb(247, 192, 192);
    border: 3px solid rgb(206, 106, 106);
    color: rgb(139, 46, 46);
    border-bottom-left-radius: 25px;
}

#profActionModify {
    display: flex;
}

#profActionConfirmModify {
    display: none;
}

#profActionModify h3 {
    background-color: rgb(250, 237, 163);
    border: 3px solid rgb(192, 155, 54);
    color: rgb(136, 106, 25);
}

#profActionModify:hover h3 {
    background-color: rgb(230, 218, 155);
    border: 3px solid rgb(182, 146, 46);
    color: rgb(128, 99, 19);
}

#profActionConfirmModify h3 {
    background-color: rgb(207, 255, 187);
    border: 3px solid rgb(101, 140, 85);
    color: rgb(101, 140, 85);
}

#profActionConfirmModify:hover h3 {
    background-color: rgb(162, 211, 141);
    border: 3px solid rgb(66, 101, 52);
    color: rgb(66, 101, 52);
}

.profActionClearEnabled {
    background-color: rgb(216, 247, 255);
    border: 3px solid rgb(59, 152, 180);
    color: rgb(59, 152, 180);
    border-bottom-right-radius: 25px;
}

.profActionClearEnabled:hover {
    background-color: rgb(191, 230, 240);
    border: 3px solid rgb(35, 119, 145);
    color: rgb(37, 122, 148);
    cursor: pointer;
}

#profActionClear {
}

.disabledButton {
    transition: 0.25s;
    background-color: rgb(200, 200, 200);
    border: 3px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    border-bottom-right-radius: 25px;
}

#profActionClear:hover .disabledButton {
    background-color: rgb(170, 170, 170);
    border: 3px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    cursor: not-allowed;
}

.adminProfile {
    background-color: #dfc5fe;
    color: #381760;
}
.adminProfile div::selection {
    color: white;
    background-color: #381760;
}

.reportedProfile {
    background-color: rgb(230, 154, 154);
    color: rgb(139, 46, 46);
}

.reportedProfile div::selection {
    color: white;
    background-color: rgb(139, 46, 46);
}

.customModal {
    transition: 0.25s;
    display: none;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 50, 75, 0.65);
    top: 0;
    padding-top: 5vh;
}

.customModalContent {
    height: 45vh;
    width: 50vw;
    background-color: var(--PrimaryLight);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px var(--PrimaryDark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.customModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 8vh;
    background-color: rgb(130, 27, 27);
    color: var(--PrimaryLight);
    font-variant: small-caps;
}

.customModalHeader h1 {
    font-size: 5vh;

    margin: 0;
}

.customModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    width: 50vw;
    height: 37vh;
    color: rgb(130, 27, 27);
    font-variant: small-caps;
    gap: 6vh;
}

.deleteWarning {
    height: 10vh;
    text-align: center;
    color: rgb(130, 27, 27);
    font-variant: small-caps;
    font-size: 2.5vh;
    margin: 0;
}

.deleteButtons {
    width: 50vw;
    height: 17 vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.deleteBtn {
    width: 8vw;
    height: 6vh;
    font-size: 2.5vh;
    font-variant: small-caps;
    border-radius: 10px;
    transition: 0.25s;
}

.deleteConfirmBtn {
    background-color: rgb(144, 36, 36);
    border: none;
    color: var(--PrimaryLight);
}

.deleteConfirmBtn:hover {
    background-color: rgb(116, 25, 25);
}

.deleteCancelBtn {
    background-color: inherit;
    border: 2px solid var(--PrimaryDark);
    color: var(--PrimaryDark);
}

.deleteCancelBtn:hover {
    background-color: rgb(192, 210, 220);
}
