#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: blueviolet;
}

#sidebar {
    background-color: rgb(49, 65, 73);
    color: white;
    width: 12vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: 0.25s;
    z-index: 1;
}

#collapseSidebar {
    position: absolute;
    width: 3vw;
    aspect-ratio: 1/1;
    z-index: 100;
    left: 10.75vw;
    background-color: inherit;
    border: none;
    transition: 0.25s;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-left: 2px solid rgb(235, 255, 235);
    border-bottom: 2px solid rgb(235, 255, 235);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#collapseSidebar img {
    width: 100%;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#sidebarTitle {
    padding-top: 1vh;
    width: 85%;
    min-height: 1vh;
    font-variant: small-caps;
}

#sidebarTitle h2 {
    border-bottom: 1px solid white;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 5.5vh;
    margin: 0;
    z-index: 9;
    font-variant: small-caps;
    overflow: hidden;
    text-overflow: ellipsis;
}

#adminContent {
    background-color: rgb(235, 255, 235);
    width: 88vw;
    max-height: 98vw;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: 0.25s;
}

#navButtons {
    width: 90%;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navButtonWrapper {
    padding-bottom: 2vh;
    width: 100%;
    border-bottom: 1px solid white;
}

.navButton {
    transition: 0.25s;
    width: 100%;
    text-align: start;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-variant: small-caps;
    font-size: medium;
    padding-left: 0.25vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
    border: 1px solid transparent;
}

.navButton:hover {
    background-color: rgb(64, 80, 88);
    border: 1px solid aqua;
    color: aqua;
}

.navButtonSVG {
    height: 1.2rem;
}

@media (min-width: 1300px) {
    #root {
        width: 100vw;
        height: 100vh;
    }

    #sidebar {
        width: 10vw;
    }

    #collapseSidebar {
        width: 2vw;
        left: 9vw;
        top: 0;
    }

    #collapseSidebar img {
        width: 90%;
    }

    #sidebarTitle {
        padding-top: 1vh;
        width: 85%;
        min-height: 1vh;
    }

    #sidebarTitle h2 {
        width: 100%;
        height: 100%;
        font-size: 6.5vh;
        margin: 0;
    }

    #adminContent {
        width: 90vw;
        max-height: 98vw;
    }

    #navButtons {
        width: 100%;
        padding-top: 2vh;
    }

    .navButtonWrapper {
        width: 90%;
        padding-bottom: 2vh;
    }

    .navButton {
        width: 100%;
        font-size: larger;
        padding-top: 0.75vh;
        padding-bottom: 0.75vh;
    }

    .navButtonSVG {
        height: 1.2rem;
    }
}

#navSearches {
    padding-top: 2vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
}

.navSearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}

.searchLabel {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 3vh;
    border-radius: 5px;
}

.searchLabel input {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    padding: 0;
    padding-left: 6%;
    font-size: 20px;
}

.searchLabel button {
    width: 25%;
    background-color: rgb(49, 65, 73);
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.searchLabel button:hover {
    background-color: rgb(64, 80, 88);
}

#activeUsers {
    padding-top: 4vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    width: 90%;
    height: 23vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5%;
}

.userTrackerTooltip {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    visibility: hidden;
    position: absolute;
    text-align: start;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-bottom: 10%;
    background-color: rgb(50, 190, 50);
}

.userTrackerColumn:hover .userTrackerTooltip {
    visibility: visible;
    z-index: 100;
}

#yAxis {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 10%;
    height: 17.5vh;
    align-items: center;
    top: 3.75vh;
}

#yAxis span {
    height: 20%;
    font-size: 12px;
    position: relative;
}

#yAxisLines {
    position: absolute;
    width: 80%;
    height: calc(20vh - 1px);
    display: flex;
    flex-direction: column;
    left: 15%;
    gap: 20%;
    padding-bottom: 1.5vh;
    top: 4vh;
}

#yAxisLines hr {
    width: 100%;
    margin: 0;
    opacity: 0.75;
    color: white;
}

#userTrackerTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    position: absolute;
    top: 1vh;
    width: 100%;
    text-align: center;
    font-size: 1.5vh;
}
#userTrackerColumns {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5%;
    width: 80%;
    left: 16.5%;
    height: calc(15vh + 1px);
}

.userTrackerColumn {
    position: relative;
    background-color: rgb(70, 220, 70);
    width: 15%;
    height: 0%;
    z-index: 0;
    bottom: 0;
}
#userTrackerTimes {
    position: absolute;
    width: 80%;
    z-index: 10;
    height: 2vh;
    left: 16.5%;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
#userTrackerTimes span {
    width: 15%;
    font-size: 0.65vw;
    text-align: center;
}
