:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --LoginGombBorder: rgb(187, 153, 173);
    --LoginGombBoxShadow: rgb(217, 213, 233);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

#existingChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-bottom: 100%;
    gap: 20px;
    width: 95%;
}

.chat {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 7.5vh;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

.chat:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.lastText {
    width: 95%;
    padding-right: 5px;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 14px;
    overflow: hidden;
    line-break: anywhere;
    margin-top: 0;
}

.chatName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(150, 100, 100);
    margin-bottom: 5px;
    width: 95%;
    color: #553333;
}

.chatImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.chatImgBorder {
    height: 85%;
    width: 100%;
    background-color: rgb(150, 100, 100);
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatImg {
    clip-path: circle();
    height: 100px;
    max-height: 92%;
    width: 100px;
    max-width: 92%;
    object-fit: cover;
}

.chatTexts {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 80%;
    height: 100%;
    padding-bottom: 1%;
}

#newChatDiv {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5vh;
    margin-bottom: 10px;
}

#newChat {
    height: 8.5vh;
    width: 100%;
    border-radius: 30px;
    background-color: var(--LoginGomb);
    border: none;
    box-shadow: 0 0 10px 2.5px rgba(63, 63, 63, 0.7);
    padding: 0;
    margin-top: 5%;
}

#newChat:hover {
    background-color: rgb(185, 155, 170);
}

#newChat img {
    height: 90%;
    aspect-ratio: 1/1;
}

#openedChat {
    background-color: #eeeeee;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

#openedChatWrapper {
    height: 57vh;
}

/* You won't believe what it does */
/* https://open.spotify.com/track/51EpFns3CG9taCMQz6XDom?si=8b358a3ae3994cb1 */
.invisible {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

.openedChatClose {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2%;
    padding-top: 2px;
    align-items: center;
}

.openedChatClose button {
    aspect-ratio: 1/1;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
}

.openedChatClose button:hover {
    background-color: rgb(250, 200, 200);
    border-radius: 50px;
}

.openedChatClose button img {
    aspect-ratio: 1/1;
    height: 100%;
}

.openedChatName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 2px;
}

.openedChatName h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #330707;
}

.messageRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    max-width: 75%;
    border-radius: 10px;
    line-break: anywhere;
    margin: 0;
}

.messageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messageDate {
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

.FromCurrentUserSide {
    align-self: flex-end;
    border-bottom-right-radius: 0px;
    padding: 5px 5px 0px 10px;
}

.FromCurrentUserColor {
    background-color: var(--LoginGomb);
    border: 2px solid var(--LoginGombBorder);
}

.FromOtherUserSide {
    align-self: start;
    border-bottom-left-radius: 0px;
    padding: 5px 10px 5px 5px;
}

.FromOtherUserColor {
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(200, 200, 200);
}

.openedChatNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    background-color: var(--LoginGomb);
    box-shadow: -3px 0 3px 1px var(--LoginGombBoxShadow);
    z-index: 1;
}

.messagesDiv {
    height: 47vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 5%;
    padding-bottom: 4vh;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
}

.newMessageWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    background-color: white;
}

.newMessageWrapper textarea {
    min-height: 40px;
    max-height: 15vh;
    font-size: 18px;
    line-height: 22px;
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 15%;
    padding-top: 0.75vh;
    width: 95%;
    position: relative;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid rgb(200, 150, 150);
}

.newMessageWrapper textarea:focus {
    box-shadow: 0 0 3px 1px rgb(200, 150, 150);
}

.newMessageWrapper button {
    background-color: transparent;
    border: none;
    aspect-ratio: 1/1;
    width: 34px;
    height: 34px;
    border-radius: 500px;
    position: absolute;
    right: 5%;
    bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newMessageWrapper button:hover {
    background-color: rgb(250, 200, 200);
}