:root {
    --PrimaryLight1: rgb(250, 255, 212);
    --Primary: rgb(240, 254, 190);
    --PrimaryDark1: rgb(220, 234, 170);
    --PrimaryDark2: rgb(200, 214, 150);
    --PrimaryDark3: rgb(100, 114, 50);
    --PrimaryAccent: rgb(163, 177, 115);
    --Secondary: rgb(239, 239, 224);
    --SecondaryDark: rgb(220, 210, 180);
    --PostLight: rgb(255, 255, 240);
    --Post: rgb(239, 239, 224);
    --PostSecondary: rgb(219, 219, 204);
    --PostAccent: rgb(139, 139, 124);
    --PostDark: rgb(69, 69, 54);
    --PostDarker: rgb(39, 39, 24);
    --interactiveBlue: rgb(75, 100, 200);
    --interactiveBlueDark: rgb(25, 50, 150);

    --Accent: rgb(82, 159, 163);
    --AccentDark: rgb(0, 37, 41);

    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
}
