.home {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 90vh;
}

.chat-and-sort {
    width: 20vw;
    min-width: 20vw;
    background-color: white;
    height: 100%;
}

.posts-container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    width: 80vw;
    background: #333333;
    background: linear-gradient(
        315deg,
        rgba(51, 51, 51, 1) 0%,
        rgba(64, 0, 0, 1) 10%,
        rgba(85, 0, 0, 1) 20%,
        rgba(51, 0, 0, 1) 30%,
        rgba(102, 0, 0, 1) 40%,
        rgba(102, 51, 51, 1) 50%,
        rgba(85, 34, 34, 1) 60%,
        rgba(53, 0, 0, 1) 70%,
        rgba(68, 0, 0, 1) 80%,
        rgba(51, 17, 17, 1) 90%,
        rgba(68, 0, 0, 1) 100%
    );
    height: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#posts {
    display: flex;
    flex-direction: row;
    padding-left: 13vw;
    padding-right: 10vw;
    gap: 250px;
    width: 100%;
    height: 95%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: scroll;
    margin-top: 15px;
}

.rope {
    background-color: navajowhite;
    opacity: 100%;
    border: none;
    height: 5px;
    z-index: 2;
    margin: 0;
    width: 100%;
    min-height: 5px;
    position: relative;
}

.ropeTexture {
    position: relative;
    background-image: url('/images/preview.jpg');
    background-position: fixed;
    background-size: 15px 15px;
    height: 5px;
    min-height: 5px;
    border: none;
    opacity: 50%;
    z-index: 3;
    width: 100%;
    margin: 0;
    bottom: 5px;
}

.ropeDiv {
    position: absolute;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 5px;
    width: 200%;
    bottom: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
    background-color: white;
    height: 90%;
    width: 33vw;
    z-index: 10;
    flex-shrink: 0;
    box-shadow: 0px 0px 15px 15px #350000;
    margin-top: 35px;
}

.postContent {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 25px;
}

.imgDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: black;
}

.imgDiv img {
    width: 100%;
    object-fit: contain;
}

#clipDiv {
    z-index: 5500;
}

.clip {
    position: absolute;
    bottom: 94%;
    width: 35px;
    height: 85px;
    z-index: 6000;
}

.imgClip {
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    background-color: wheat;
    z-index: 5000;
}

.imgClipTexture {
    position: absolute;
    bottom: 0;
    background-image: url('/images/retina-wood.png');
    min-width: 35px;
    min-height: 85px;
    width: 35px;
    height: 85px;
    z-index: 5001;
    opacity: 70%;
}


.tableContainer{
    overflow: auto;
    height: 200px;
}

.commentsTable{
    
}

.tRow{
    display: flex;
    flex-direction:row;
    align-content: center;
    height:70px;
}

.commentingUserPic{
    display: flex;
 
    align-content: center;     
    height:70px;
}

.commentingUserImg{
    display: flex;
    clip-path: circle();
    height:70px;
    align-content: center;
}

.commentingUser{
    display: flex;
    visibility: hidden;

    z-index: 1;

}

.commentingUserPic:hover .commentingUser {
    visibility: visible;
    display: flex;
}

.comment{
    display: flex;
    align-content: center;
}