:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --LoginGombBorder: rgb(187, 153, 173);
    --LoginGombBoxShadow: rgb(217, 213, 233);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.login {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 750 !important;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDoboz2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: xx-large !important;
    font-weight: 750 !important;
}

.loginSorok {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    width: 100%;
}

#loginButton {
    position: relative;
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    margin-top: 4.2%;
    font-weight: bold;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
    width: 50%;
}

input[type='button'] {
    border-radius: 5px;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.loginSorok label input {
    position: relative;
    width: 50%;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#regButton {
    position: relative;
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    margin-top: 4.2%;
    font-weight: bold;
}

.vonal {
    margin-top: 6.7%;
}