body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #98bc7f;
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes fadeInVertical {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fadeOutVertical {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(25%);
    }
}

@keyframes fadeInHorizontal {
    from {
        opacity: 0;
        transform: translateX(25%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes zoomPost {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(105%);
    }
}

@keyframes loadContent {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes changePostSelection {
    from {
        transform: scaleY(0.5);
        transform: translateY(0.5);
        transform-origin: top center;
    }
    to {
        transform: scaleY(1);
    }
}

#nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
    background-color: #f0febe;
    z-index: 2;
    box-shadow: 0px 0px 5px 0px #212e00;
    bottom: 0;
}

.navButton {
    transition: 0.2s;
    height: 5vh;
    font-size: 3vh;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #212e00;
    filter: brightness(100%);
    background-color: inherit;
    border-right: 1px black solid;
}

.navButton:hover {
    background-color: #a8ec9f;
}

#root {
    width: 100vw;
    height: 95vh;
    max-height: 95vh;
    padding: 3.5vh 3.5vw 3.5vh 3.5vw;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    overflow: hidden;
}

/*!#region ProfileInfos */

/*? Magasság: 10% = 8.8vh, 50% = 44vh, 100% = 88vh */

#profileInfos {
    width: 35vw;
    height: 100%;
    background-color: #f0febe;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgb(75, 75, 75);
    border-radius: 10px;
    position: relative;
    animation: fadeInVertical 1s forwards;
}

#profilePictureDiv {
    position: relative;
    background-image: url('/profile_images/defaultProfile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 20%;
    margin-bottom: 10vh;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#profilePictureBackground {
    position: relative;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#profilePictureWrapper {
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    top: 50%;
}

#profilePictureBorder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0febe;
    clip-path: circle();
    padding: 2px;
    height: 100%;
    width: 100%;
}

#profilePicture {
    clip-path: circle();
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#profileTextInfos {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20% - 10vh);
}

.profileText {
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

#profileNameDiv {
    height: 3vh;
}

#profileNameDiv,
#profileEmailDiv,
#profileRegistrationDiv,
#profileModifyDiv {
    flex: 1 1 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileName {
    font-size: 3.5vh;
    font-variant: small-caps;
    color: #404e0e;
}

#profileName,
#profileEmail,
#profileRegistration {
    width: 90%;
    text-align: center;
}

#profileEmail,
#profileRegistration {
    font-size: 2.25vh;
    color: #808e4e;
}

#profileBiographyDiv {
    position: relative;
    flex: 4 4 0;
    width: 100%;
    border: 2px solid #d0de9e;
    padding: 3px 3px 3px 6px;
    border-radius: 2px;
}

#profileBiography {
    font-size: 1.75vh;
    margin: 0;
    color: #404e0e;
}

#profileModify {
    height: 66%;
    width: 100%;
    border-radius: 4px;
    background-color: #f0febe;
    filter: brightness(90%);
    border: 0;
    transition: 0.2s;
    font-size: larger;
}

#profileModify:hover {
    filter: brightness(80%);
}

/*#endregion ProfileInfos*/

/*!#region Posts */

#postsWrapper {
    width: 55vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5%;
    background-color: inherit;
    /*padding: 10px;*/
    right: 0;
    animation: fadeInHorizontal 1s forwards;
}

#postTypeSelect {
    position: relative;
    width: 100%;
    height: 7.5%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 4px 0px rgb(75, 75, 75);
    overflow-x: clip;
    background-color: #f0febe;
    border-radius: 10px;
    gap: 3px;
    padding: 7px;
}

.postSVGWrapper {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    background-color: inherit;
    transition: 0.15s;
    border-radius: 5px;
}

.activeType {
    filter: brightness(90%);
}

.postSVGWrapper:hover {
    filter: brightness(80%);
}

.postSVGWrapper svg {
    height: 4vh;
    width: 4vh;
    stroke: rgb(50, 50, 50);
    stroke-width: 1px;
}

#postsDiv {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 91%;
    box-shadow: 0px 0px 4px 0px rgb(75, 75, 75);
    background-color: #f0febe;
    padding: 3px;
    border-radius: 5px;
    transition: 0.5s;
}

#posts {
    width: 100%;
    height: 100%;
    min-height: 30px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #212e00 #f0febe;
    z-index: 0;
    padding: 5px 0 5px 0;
}

.postRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.post {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    aspect-ratio: 1/1;
    /*background-image: url('../images/placeholder1.jpg');*/
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transition: 0.2s;
    margin: 0px;
    border: 2px solid #f0febe;
    border-radius: 4px;
    transform-origin: center center;
    z-index: 2;
    max-width: 50%;
    cursor: pointer;
    animation: loadContent 0.5s forwards;
}

.post:hover {
    margin: -5px;
    border: 2px solid #f0febe;
    z-index: 10;
}

.postImgWrapper {
    backdrop-filter: blur(10px) brightness(100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.35s;
    border-radius: 4px;
}

.postImg {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.postImgBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*#endregion Posts */

/*#region Modal */

#openedPostModal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

#openedPost {
    position: relative;
    aspect-ratio: 35/40;
    max-width: 96vw;
    max-height: 90vh;
    background-color: white;
    box-shadow: 0 0 8px 4px rgba(100, 100, 100, 0.5);
    padding: 10px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

#closePost {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    z-index: 102;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: brightness(100%);
    transition: 0.2s;
}

#closePost:hover {
    filter: brightness(85%);
}

#postImages {
    height: 50%;
    width: 100%;
    background-image: url('/uploads/1768924539207-olahbenjo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    overflow: hidden;
}

#backdropWrapper {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
}

#previous,
#next {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(50, 50, 50);
    -webkit-text-stroke: 1px white;
    cursor: pointer;
}
#previous:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#slideshow {
    height: 100%;
    width: 70%;
    overflow: hidden;
}

.slideshowItem {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    transition: 0.25s;
}

.activeSlideshowItem {
    display: block;
}

#postInfos {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 2.5% 20px 5% 20px;
    position: relative;
}

#postUser {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    align-items: center;
}

#postPictureWrapper {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#postPictureBorder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    clip-path: circle();
    height: calc(100% - 2px);
    aspect-ratio: 1/1;
}

#postUserPicture {
    height: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
    clip-path: circle();
    background-color: white;
}

#postUsername {
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
}

#postDescription {
    border: 1px solid gray;
    padding: 5px;
    height: 50%;
    overflow: auto;
}

#locationDateWrapper {
    position: absolute;
    bottom: 5%;
    left: 20px;
}
/*#endregion Modal*/

@media (max-width: 768px) {
    #root {
        flex-direction: column;
        overflow-y: auto;
        gap: 5vh;
    }
    #profileInfos {
        width: 100%;
        height: 50vh;
        flex: none;
        animation: none;
    }
    #postsWrapper {
        flex: none;
        width: 100%;
        height: 75vh;
        animation: none;
    }
    #profileModifyDiv {
        flex: 2 2 0;
    }

    #openedPost {
        margin-top: 15px;
    }
}

#profilGomb{
    background-color: #f0febe;
    filter: brightness(90%);
}

.navbar{
    border-right: 1px black solid;
}