/*TODO A FELTÖLTÉS FELÜLETNEK KELL FORMÁZÁS */
/*? ID-K: uploadModal, uploadForm, carouselContainer, carouselContent, carouselControl, uploadFile, uploadFeedbackDiv, uploadFeedback, loadFiles, uploadDescription, uploadLocation, uploadPost, cancelPost |*/
/*? Classok: tempSlide, tempSerialNumber, tempVideo, tempImage, slideShowController, uploadFeedback */

:root {
    --Tojassarga: rgb(255, 224, 143);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

.navLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.login {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 750 !important;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDoboz2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: xx-large !important;
    font-weight: 750 !important;
}

body {
    height: 90vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: larger;
    background-color: var(--Tojassarga);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}
.loginSorok {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    width: 100%;
}

#loginButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

.roll {
    overflow-y: scroll;
    height: 95vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profileBase {
    display: flex;
    flex-direction: row;
}
.adatok {
    display: flex;
    flex-direction: column;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
}

input[type='button'] {
    border-radius: 5px;
}

/*.lenyitoFul {
    majd valami lesz itt
}
*/

@keyframes invalidShake {
    0% {
        left: 0px;
        right: 0px;
    }
    25% {
        right: 0px;
        left: 10px;
    }

    50% {
        right: 10px;
        left: -10px;
    }
    100% {
        left: 0px;
        right: 0px;
        border: 2px solid var(--invalidRed);
    }
}

@keyframes openChat {
    0% {
        width: 0%;
        height: 23.5vh;
        left: 50%;
        right: 50%;
        top: 0;
    }
    20% {
        width: 25%;
        left: 25%;
        right: 25%;
        top: 0;
    }
    40% {
        width: 50%;
        left: 12.5%;
        right: 12.5%;
        top: 0;
    }
    60% {
        width: 75%;
        left: 6.125%;
        right: 6.125%;
        top: 0;
    }
    80% {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
}

.invalid {
    border: 2px solid var(--invalidRed);
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.loginSorok label,
input {
    position: relative;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#map {
    height: 50rem;
}
.postSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.imageSpace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descriptionSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentSpace {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: scroll;
    height: 25rem;
}

#regButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

#navBarColor {
    background-color: var(--NavBarColor);
}

.navBarButton {
    background-color: var(--NavBarColor);
    width: 20vw;
    padding: 0px;
    color: var(--PostModalBottomColor);
    font-weight: 750;
    font-size: 1.5rem;
}

.rightNavBorder {
    border-right: 1px solid darkslategray;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.noBorder {
    border: 0px;
}

#navbar {
    background-color: var(--NavBarColor);
}

.uploadFeedback {
    margin-bottom: 0;
    height: 30px;
}

.slideShowController {
    user-select: none;
    text-decoration: none;
    color: white;
}

.slideShowController:hover {
    cursor: pointer;
    color: gainsboro;
}
#rendezesChatContainer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#rendezesContainer {
    height: 33vh;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#chatContainer {
    background-color: white;
    height: 57vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    z-index: 1;
}
/*? Scrollbar formázás 
/*! FIREFOXBAN NEM MŰKÖDIK
#chatContainer::-webkit-scrollbar {
    background-color: brown;
    width: 100px;
}
#chatContainer::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 20px;
}*/
#rendezesTrending {
    width: 40%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}
#rendezesEgyeb {
    width: 60%;
    height: 100%;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-left: 3px solid white;
}
#trendingTitle {
    font-size: 3vh;
    margin-bottom: 0px;
}
.trendingButton {
    width: 80%;
    height: 15%;
    font-size: 2vh;
    background-color: lightyellow;
}
.egyebButton {
    height: 25%;
    width: 80%;
    background-color: lightyellow;
}

#existingChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-bottom: 100%;
    gap: 20px;
    width: 95%;
}
.chat {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 7.5vh;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}
.chat:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
.lastText {
    width: 95%;
    padding-right: 5px;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 14px;
    overflow: hidden;
    line-break: anywhere;
    margin-top: 0;
}
.chatName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(150, 100, 100);
    margin-bottom: 5px;
    width: 95%;
    color: #553333;
}
.chatImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}
.chatImgBorder {
    height: 85%;
    width: 100%;
    background-color: rgb(150, 100, 100);
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatImg {
    clip-path: circle();
    height: 100px;
    max-height: 92%;
    width: 100px;
    max-width: 92%;
    object-fit: cover;
}
.chatTexts {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 80%;
    height: 100%;
    padding-bottom: 1%;
}
#newChatDiv {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5vh;
    margin-bottom: 10px;
}
#newChat {
    height: 8.5vh;
    width: 100%;
    border-radius: 30px;
    background-color: rgb(190, 110, 110);
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    padding: 0;
}

#newChat:hover {
    background-color: rgb(170, 90, 90);
}

#newChat img {
    height: 90%;
    aspect-ratio: 1/1;
}

#openedChat {
    background-color: #eeeeee;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
#openedChatWrapper {
    height: 57vh;
}
/* You won't believe what it does */
/* https://open.spotify.com/track/51EpFns3CG9taCMQz6XDom?si=8b358a3ae3994cb1 */
.invisible {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}

.openedChatClose {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2%;
    padding-top: 2px;
    align-items: center;
}
.openedChatClose button {
    aspect-ratio: 1/1;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
}
.openedChatClose button:hover {
    background-color: rgb(250, 200, 200);
    border-radius: 50px;
}
.openedChatClose button img {
    aspect-ratio: 1/1;
    height: 100%;
}
.openedChatName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 2px;
}
.openedChatName h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #330707;
}
.messageRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    max-width: 75%;
    border-radius: 10px;
    line-break: anywhere;
    margin: 0;
}
.messageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.messageDate {
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

.FromCurrentUserSide {
    align-self: flex-end;
    border-bottom-right-radius: 0px;
    padding: 5px 5px 0px 10px;
}
.FromCurrentUserColor {
    background-color: rgb(190, 110, 110);
    border: 2px solid rgb(170, 90, 90);
}
.FromOtherUserSide {
    align-self: start;
    border-bottom-left-radius: 0px;
    padding: 5px 10px 5px 5px;
}
.FromOtherUserColor {
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(200, 200, 200);
}

.openedChatNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    background-color: rgb(190, 110, 110);
    box-shadow: -2px 0 3px 1px rgb(200, 150, 150);
    z-index: 1;
}
.messagesDiv {
    height: 47vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 5%;
    padding-bottom: 4vh;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
}

.newMessageWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    background-color: white;
}

.newMessageWrapper textarea {
    min-height: 40px;
    max-height: 15vh;
    font-size: 18px;
    line-height: 22px;
    resize: none;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 15%;
    padding-top: 0.75vh;
    width: 95%;
    position: relative;
    border: none;
    margin-bottom: 5px;
    outline: none;
    box-shadow: 0 0 3px 1px rgb(200, 150, 150);
}
.newMessageWrapper button {
    background-color: transparent;
    border: none;
    aspect-ratio: 1/1;
    width: 34px;
    height: 34px;
    border-radius: 500px;
    position: absolute;
    right: 5%;
    bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newMessageWrapper button:hover {
    background-color: rgb(250, 200, 200);
}
.brandBar {
    height: 5vh;
    display: flex;
    justify-content: center;
}
.usernamePopup {
    z-index: 1000;
    position: fixed;
    width: auto;
    padding: 5px 10px 5px 10px;
    opacity: 100% !important;
    background-color: rgb(220, 220, 220);
    border: rgb(200, 200, 200) 2px solid;
}
