:root {
    --Tojassarga: rgb(255, 224, 143);
    --invalidRed: rgb(191, 26, 26);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --NavBarColor: rgb(203, 217, 155);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
}
.navLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-fluid {
    height: 100%;
    width: 100%;
}
.loginMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.login {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 750 !important;
}
.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginDoboz2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: xx-large !important;
    font-weight: 750 !important;
}

body {
    height: 90vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: larger;
    background-color: var(--Tojassarga);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}
.loginSorok {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    width: 100%;
}

#loginButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

.roll {
    overflow-y: scroll;
    height: 95vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profileBase {
    display: flex;
    flex-direction: row;
}
.adatok {
    display: flex;
    flex-direction: column;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
}

input[type='button'] {
    border-radius: 5px;
}

.lenyitoFul {
    /*majd valami lesz itt*/
}

/* You won't believe what it does */
/* https://open.spotify.com/track/51EpFns3CG9taCMQz6XDom?si=8b358a3ae3994cb1 */
.invisible {
    display: none;
}

@keyframes invalidShake {
    0% {
        left: 0px;
        right: 0px;
    }
    25% {
        right: 0px;
        left: 10px;
    }

    50% {
        right: 10px;
        left: -10px;
    }
    100% {
        left: 0px;
        right: 0px;
        border: 2px solid var(--invalidRed);
    }
}
.invalid {
    border: 2px solid var(--invalidRed);
}

.loginBtn {
    display: flex;
    justify-content: center;
}

/*
#loginUsername {
    position: relative;
}
#loginPassword {
    position: relative;
}*/

.loginSorok label,
input {
    position: relative;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}
.loginRegText:hover {
    cursor: pointer;
}

#map {
    height: 50rem;
}
.postSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.imageSpace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descriptionSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentSpace {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: scroll;
    height: 25rem;
}

.home {
    margin-top: 5vh;
}
/*workie work*/
#regButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

#navBarColor {
    background-color: var(--NavBarColor);
}

.navBarButton {
    background-color: var(--NavBarColor);
    width: 20vw;
    padding: 0px;
}

.rightNavBorder {
    border-right: 1px solid darkslategray;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.noBorder {
    border: 0px;
}
#navbar {
    background-color: var(--NavBarColor);
}
