/*TODO A FELTÖLTÉS FELÜLETNEK KELL FORMÁZÁS */
/*? ID-K: uploadModal, uploadForm, carouselContainer, carouselContent, carouselControl, uploadFile, uploadFeedbackDiv, uploadFeedback, loadFiles, uploadDescription, uploadLocation, uploadPost, cancelPost |*/
/*? Classok: tempSlide, tempSerialNumber, tempVideo, tempImage, slideShowController, uploadFeedback */

:root {
    --Tojassarga: rgb(255, 224, 143);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

.navLine {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.login {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 750 !important;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDoboz2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: xx-large !important;
    font-weight: 750 !important;
}

body {
    height: 90vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-size: larger;
    background-color: var(--Tojassarga);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}
.loginSorok {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    width: 100%;
}

#loginButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

.roll {
    overflow-y: scroll;
    height: 95vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profileBase {
    display: flex;
    flex-direction: row;
}
.adatok {
    display: flex;
    flex-direction: column;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
}

input[type='button'] {
    border-radius: 5px;
}

/*.lenyitoFul {
    majd valami lesz itt
}
*/

@keyframes invalidShake {
    0% {
        left: 0px;
        right: 0px;
    }
    25% {
        right: 0px;
        left: 10px;
    }

    50% {
        right: 10px;
        left: -10px;
    }
    100% {
        left: 0px;
        right: 0px;
        border: 2px solid var(--invalidRed);
    }
}

.invalid {
    border: 2px solid var(--invalidRed);
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.loginSorok label,
input {
    position: relative;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#map {
    height: 50rem;
}
.postSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.imageSpace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descriptionSpace {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.commentSpace {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: scroll;
    height: 25rem;
}

.home {
    margin-top: 5vh;
}

#regButton {
    position: relative;
    width: 50%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
}

#navBarColor {
    background-color: var(--NavBarColor);
}

.navBarButton {
    background-color: var(--NavBarColor);
    width: 20vw;
    padding: 0px;
    color: var(--PostModalBottomColor);
    font-weight: 750;
    font-size: 1.5rem;
}

.rightNavBorder {
    border-right: 1px solid darkslategray;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.noBorder {
    border: 0px;
}

#navbar {
    background-color: var(--NavBarColor);
}

.uploadFeedback {
    margin-bottom: 0;
    height: 30px;
}

.slideShowController {
    user-select: none;
    text-decoration: none;
    color: white;
}

.slideShowController:hover {
    cursor: pointer;
    color: gainsboro;
}
#rendezesChatContainer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#rendezesContainer {
    height: 33vh;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#chatContainer {
    background-color: red;
    height: 57vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}
/*? Scrollbar formázás 
/*! FIREFOXBAN NEM MŰKÖDIK
#chatContainer::-webkit-scrollbar {
    background-color: brown;
    width: 100px;
}
#chatContainer::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 20px;
}*/
#rendezesTrending {
    width: 40%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}
#rendezesEgyeb {
    width: 60%;
    height: 100%;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-left: 3px solid white;
}
#trendingTitle {
    font-size: 3vh;
    margin-bottom: 0px;
}
.trendingButton {
    width: 80%;
    height: 15%;
    font-size: 2vh;
    background-color: lightyellow;
}
.egyebButton {
    height: 25%;
    width: 80%;
    background-color: lightyellow;
}

#existingChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-bottom: 100%;
    gap: 10px;
    width: 95%;
}
.chat {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 95%;
    border: 3px solid black;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}
.chat:hover {
    background-color: lightgray;
    cursor: pointer;
}
.lastText {
    width: 100%;
    padding-right: 5px;
    font-size: 0.85rem;
    color: #555555;
    font-weight: normal;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-break: anywhere;
}
.chatName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.2rem;
    margin-bottom: 0px;
    border-bottom: 2px solid #333333;
}
.chatImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}
.chatImgBorder {
    height: 80%;
    width: 100%;
    background-color: black;
    clip-path: circle();
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatImg {
    clip-path: circle();
    width: 94%;
    height: 94%;
    object-fit: cover;
}
.chatTexts {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 80%;
    height: 100%;
    padding-bottom: 1%;
}
#newChatDiv {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    max-height: 15vh;
}
#newChat {
    height: 15vh;
    width: 100%;
    border-radius: 30px;
    border: 3px solid black;
    object-fit: contain;
}
#newChatImg {
    height: 50%;
    max-height: 15vh;
}
#openedChat {
    background-color: purple;
    height: 57vh;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* You won't believe what it does */
/* https://open.spotify.com/track/51EpFns3CG9taCMQz6XDom?si=8b358a3ae3994cb1 */
.invisible {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}
.openedChatNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    background-color: blue;
}
.openedChatName {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border-right: 2px solid white;
}
.openedChatName h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-break: anywhere;
    font-size: 1.3rem;
    margin: 0;
    color: white;
}
