#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--PrimaryLight);
    font-family: 'Josefin Sans', sans-serif;
    overflow-y: hidden;
}

#navbar {
    display: none;
}

#sidebar {
    background-color: var(--PrimaryDark);
    color: white;
    width: 12vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: 0.25s;
    z-index: 1;
    animation: fadeInRight 1s forwards;
}

#collapseSidebar {
    position: absolute;
    height: 5vh;
    aspect-ratio: 1/1;
    z-index: 100;
    right: -2.5vh;
    background-color: inherit;
    transition: 0.25s;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--PrimaryLight);
    border-radius: 100%;
    overflow: visible;
}

.collapsed {
    width: 2vw !important;
}

#collapseSidebar svg {
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

#sidebarTitle {
    padding-top: 1vh;
    width: 85%;
    min-height: 3.5rem;
    font-variant: small-caps;
    max-height: 4rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoTextWrapper {
    max-height: calc(2rem + 20px);
    min-height: 2rem;
    border-bottom: 1px solid white;
    flex: 1 1 0;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infoText {
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: 350;

    overflow: hidden;
    text-overflow: ellipsis;
}

#adminUsername {
    border-bottom: 1px solid white;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin: 0;
    z-index: 9;
    font-variant: small-caps;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navButtons {
    width: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    max-height: 33vh;
    border-bottom: 1px solid white;
    gap: 5px;
}

.altNavButton {
    transition: 0.25s;
    height: 25%;
    width: 100%;
    text-align: start;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-variant: small-caps;
    font-size: medium;
    padding-left: 0.25vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: 1px solid transparent;
    text-decoration: none;
}

.navTitle {
    height: fit-content;
    font-size: 1.25rem;
    text-align: center;
    line-height: normal;
    font-weight: 350;
    border-bottom: 1px solid var(--PrimaryLight);
    padding-bottom: 25px;
    z-index: 0;
    overflow: hidden;
}

.navButtonAdmin {
    flex: 1 1 0;
    max-height: 25%;
    transition: 0.25s;
    width: 100%;
    text-align: start;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    font-variant: small-caps;
    font-size: medium;
    padding-left: 1.25vw;
    margin-top: 5%;
    border: 1px solid transparent;
    text-decoration: none;
}

.navButtonAdmin svg {
    max-height: 30px;
    stroke-width: 1.5px;
    stroke: white;
    height: 90%;
    aspect-ratio: 1/1;
}

.navButtonAdmin span {
    border: none;
}

.altNavButton span {
    overflow: hidden;
    text-overflow: ellipsis;
}

#navAdmin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    flex: 1 1 0;
    max-height: 30vh;
    margin-top: 25px;
    overflow-y: auto;
}

.altNavButton:hover,
.navButtonAdmin:hover {
    background-color: rgb(59, 75, 83);
    border: 1px solid aqua;
    color: aqua;
}
.activeNavButton {
    background-color: rgb(69, 85, 93);
    border: 1px solid aqua;
    color: aqua;
}
.navButtonSVG {
    height: 100%;
    max-height: 30px;
    stroke: white;
    stroke-width: 1.5px;
}

#navSearches {
    padding-top: 2vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    height: 12vh;
    gap: 20%;
}

.navSearch {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    gap: 10%;
}

#activeUsers {
    border-bottom: 1px solid white;
    width: 90%;
    flex: 2 2 0;
    max-height: 40vh;
    min-height: 30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-color: var(--PrimaryDark);
    padding-top: 10px;
}

.userTrackerTooltip {
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    visibility: hidden;
    position: absolute;
    text-align: start;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    padding-bottom: 10%;
    background-color: rgb(50, 190, 50);
}

.userTrackerColumn:hover .userTrackerTooltip {
    visibility: visible;
    z-index: 100;
}

#graphWrapper {
    width: 90%;
    flex: 3 3 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#userTrackerColumns {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10%;
    height: 100%;
    flex: 4 4 0;
}

.userTrackerColumn {
    position: relative;
    background-color: rgb(70, 220, 70);
    width: 10%;
    height: 0%;
    z-index: 0;
    bottom: 0;
}

#yAxis {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex: 1 1 0;
}

#yAxis span {
    font-size: 1rem;
    font-weight: 350;
    position: relative;
}

#yAxisLines {
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 17.5%;
}

#yAxisLines hr {
    width: 100%;
    margin: 0;
    opacity: 0.75;
    color: white;
}

#userTrackerTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 350;
    flex: 0.5 0.5 0;
}

#userTrackerTimes {
    max-height: 2rem;
    flex: 1 1 0;
    width: 92%;
    padding-left: 16%;
    display: flex;
    flex-direction: row;
}
#userTrackerTimes span {
    width: 20%;
    font-size: 0.8rem;
    font-weight: 350;
    text-align: start;
}

#adminContent {
    padding-top: 6vh;
    padding-bottom: 10vh;
    height: 100%;
    background-color: var(--PrimaryLight);
    width: 88vw;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: 0.25s;
    align-items: center;
    scrollbar-color: var(--PrimaryLight) var(--PrimaryDark);
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    gap: 5vh;
}

.adminPanel {
    width: 65vw;
    height: 65vh;
    box-shadow: 0 0 5px 1px rgba(54, 70, 95, 0.5);
    border-radius: 25px;
    overflow-x: clip;
    overflow-y: clip;
    display: none;
}

.adminPanelHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6.5vh;
    width: 100%;
    box-shadow: 0px -2px 5px 1px var(--SecondaryDark);
    background-color: var(--PrimaryDark);
    color: var(--PrimaryLight);
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2.75%;
    border: none;
    background-color: var(--PrimaryLight);
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.back:hover {
    background-color: var(--HoverLight);
}

.back img {
    width: 60%;
}

.adminPanelHeader h3 {
    font-size: 4vh;
    margin: 0;
}

.adminPanelContent {
    width: 100%;
    height: calc(65vh - 6.5vh);
}

#profilesTableDiv {
    transition: 0.25s;

    display: block;
}

.tableWrapper {
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--SecondaryDark) var(--PrimaryLight);
}

table {
    width: 100%;
    text-align: center;
    color: var(--SecondaryDark);
    table-layout: fixed;
}

th {
    height: 4vh;
    font-size: 2vh;
    min-width: 10%;
    word-break: break-all;
}

thead {
    background-color: var(--HoverLight);
    position: sticky;
    top: 0;
}

th div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
}

th div img {
    height: 60%;
}

td {
    height: 4vh;
    font-size: 1.65vh;
    font-weight: 370;
    cursor: pointer;
    transition: 0.25s;
    filter: brightness(100%);
    background-color: var(--PrimaryLight);
}

tr {
    border-bottom: 1px solid var(--SecondaryDark);
    width: 100%;
}
tr:hover td {
    filter: brightness(90%);
}

.commentContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;

    font-size: 1.25vh;
}

#adminTitleMobile {
    display: none;
}

#openedProfile,
#openedPost,
#openedComment {
    transition: 0.25s;
    display: none;
    flex-direction: column;
    height: 58.5vh;
    width: 100%;
}

#profileContent,
#postContent {
    width: 100%;
    height: 52vh;
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-bottom: 2vh;
    gap: 2%;
}

.profilePicDiv {
    width: 20%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.profilePicWrapper {
    width: 80%;
    aspect-ratio: 1/1;
}

#profilePic {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    clip-path: circle();
}

.profileDataDiv {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    padding: 1%;
    overflow: hidden;
}

.profileDataDiv div::selection {
    background-color: var(--PrimaryDark);
    color: var(--PrimaryLight);
}

.profileDataRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    width: 100%;
    gap: 5%;
}

.profileIdWrapper,
.profileEmailWrapper,
.profileRegDateWrapper,
.profileUsernameWrapper {
    height: 100%;
    width: 47.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 1vw;
}
.profileIdWrapper div,
.profileEmailWrapper input,
.profileRegDateWrapper input,
.profileUsernameWrapper input {
    border: none;
    width: 100%;
    outline: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.profileUsernameWrapper {
    font-size: 1.5vw;
    font-weight: 500;
}

.profileRegDateWrapper,
.profileEmailWrapper,
.profileIdWrapper {
    font-weight: 350;
    font-size: 1.25vw;
}

#profileId {
    overflow: hidden;
}

#profileRegDate {
    border: none;
}

.profileData {
    background-color: inherit;
}

.profileBiographyWrapper {
    height: 70%;
    padding: 1%;
    border: 1px solid var(--SecondaryDark);
}
.profileBiographyWrapper span {
    height: 20%;
}

#profileBiography {
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: thin;
    outline: none;
    overflow-wrap: break-word;
    resize: none;
}

.actions {
    width: 100%;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
}

.adminAction {
    height: 100%;
    width: 33.33333%;
    user-select: none;
}

.adminAction:hover {
    cursor: pointer;
}

.adminAction h3 {
    height: 33.33%;
    transition: 0.25s;
    width: 100%;
    height: 100%;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    margin: 0;
}

.adminActionBan:hover h3 {
    background-color: rgb(230, 154, 154);
    border-color: rgb(155, 79, 79);
    color: rgb(99, 26, 26);
}

.adminActionBan h3 {
    background-color: rgb(247, 192, 192);
    border: 3px solid rgb(206, 106, 106);
    color: rgb(139, 46, 46);
    border-bottom-left-radius: 25px;
}

.adminActionModify {
    display: flex;
}

.adminActionConfirmModify {
    display: none;
}

.adminActionModify h3 {
    background-color: rgb(250, 237, 163);
    border: 3px solid rgb(192, 155, 54);
    color: rgb(136, 106, 25);
}

.adminActionModify:hover h3 {
    background-color: rgb(230, 218, 155);
    border: 3px solid rgb(182, 146, 46);
    color: rgb(128, 99, 19);
}

.adminActionConfirmModify h3 {
    background-color: rgb(207, 255, 187);
    border: 3px solid rgb(101, 140, 85);
    color: rgb(101, 140, 85);
}

.adminActionConfirmModify:hover h3 {
    background-color: rgb(162, 211, 141);
    border: 3px solid rgb(66, 101, 52);
    color: rgb(66, 101, 52);
}

.adminActionClearEnabled {
    background-color: rgb(216, 247, 255);
    border: 3px solid rgb(59, 152, 180);
    color: rgb(59, 152, 180);
    border-bottom-right-radius: 25px;
}

.adminActionClearEnabled:hover {
    background-color: rgb(191, 230, 240);
    border: 3px solid rgb(35, 119, 145);
    color: rgb(37, 122, 148);
    cursor: pointer;
}

.disabledButton {
    transition: 0.25s;
    background-color: rgb(200, 200, 200);
    border: 3px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    border-bottom-right-radius: 25px;
}

.adminActionClear:hover .disabledButton {
    background-color: rgb(170, 170, 170);
    border: 3px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    cursor: not-allowed;
}

.adminProfile {
    background-color: hsl(220, 80%, 90%);
    color: rgb(5, 5, 55);
}

.adminProfile td {
    background-color: rgb(205, 205, 255);
    color: rgb(5, 5, 55);
}
.adminProfile div::selection {
    color: white;
    background-color: #381760;
}

.reported td {
    background-color: rgb(230, 154, 154);
    color: rgb(139, 46, 46) !important;
}
.reported {
    background-color: rgb(230, 154, 154);
    color: rgb(139, 46, 46) !important;
}

.reported div::selection {
    color: white;
    background-color: rgb(139, 46, 46);
}

.customModal {
    transition: 0.25s;
    display: none;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 50, 75, 0.65);
    top: 0;
    padding-top: 5vh;
}

.customModalContent {
    height: 45vh;
    width: 50vw;
    background-color: var(--PrimaryLight);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px var(--PrimaryDark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.customModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 8vh;
    background-color: rgb(130, 27, 27);
    color: var(--PrimaryLight);
    font-variant: small-caps;
}

.customModalHeader h1 {
    font-size: 5vh;

    margin: 0;
}

.customModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    width: 50vw;
    height: 37vh;
    color: rgb(130, 27, 27);
    font-variant: small-caps;
    gap: 6vh;
}

.deleteWarning {
    height: 10vh;
    text-align: center;
    color: rgb(130, 27, 27);
    font-variant: small-caps;
    font-size: 2.5vh;
    margin: 0;
}

.deleteButtons {
    width: 50vw;
    height: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.deleteBtn {
    width: 8vw;
    height: 6vh;
    font-size: 2.5vh;
    font-variant: small-caps;
    border-radius: 10px;
    transition: 0.25s;
}

.deleteConfirmBtn {
    background-color: rgb(144, 36, 36);
    border: none;
    color: var(--PrimaryLight);
}

.deleteConfirmBtn:hover {
    background-color: rgb(116, 25, 25);
}

.deleteCancelBtn {
    background-color: inherit;
    border: 2px solid var(--PrimaryDark);
    color: var(--PrimaryDark);
}

.deleteCancelBtn:hover {
    background-color: rgb(192, 210, 220);
}

#postPictureSlideshow {
    display: flex;
    flex-direction: row;
    width: 47.5%;
    justify-content: center;
    position: relative;
    margin-left: 1.5vw;
    border: 1px solid var(--PrimaryDark);
    border-radius: 5px;
}

#slideshowContent {
    width: 80%;
    height: 100%;
}

.pictures {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    background-color: black;
}

.active {
    display: flex;
}

#postDatas {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
    padding-right: 1.5%;
}

#postId {
    width: 100%;
    height: 7.5%;
    font-size: 1.5vw;
}

#postUserCreationDate {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}

#postUserNameId {
    width: 53.75%;
}

#postUserNameId span {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#postCreationDate {
    width: 43.75%;
    gap: 5%;
}

#postCreationDate input {
    background-color: rgb(222, 230, 240);
    border: 1px solid rgb(192, 210, 220);
    height: 100%;
    width: max-content;
    flex: 1;
    padding: 0;
}

#postUserNameId,
#postCreationDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 1.1vw;
    height: 100%;
}

#postDescriptionTags {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#postDescription {
    width: 55%;
    height: 100%;
}

#postTags {
    width: 40%;
    height: 100%;
}

#postTags,
#postDescription {
    border: 1px solid rgb(192, 210, 220);
    background-color: rgb(222, 230, 240);
    resize: none;
    padding: 1.5%;
    scrollbar-width: thin;
}

#postLocation {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#mapWrapper {
    width: 55%;
    height: 100%;
    border: 1px solid rgb(192, 210, 220);
}

#postMap {
    outline: none;
    height: 100%;
    width: 100%;
}

#postLocationData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1vw;
    gap: 3.3%;
    height: 100%;
}

#postLocationNameWrapper,
#postLatitudeWrapper,
#postLongitudeWrapper {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

#postLocationName,
#postLatitude,
#postLongitude {
    width: 100%;
    background-color: rgb(222, 230, 240);
    border: 1px solid rgb(192, 210, 220);
}

.postModifyData {
    outline: none;
}

#openedComment {
    display: none;
}

#commentDiv {
    height: 52vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 1.5vw 2vh 1.5vw;
    color: var(--PrimaryDark);
    font-size: 1.5vw;
    gap: 3vh;
}

#commentDataHeader {
    position: relative;
    height: 11vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#commentDateDiv {
    position: absolute;
    right: 0;
    height: 100%;
}

#commentDate {
    background-color: inherit;
    border: none;
    outline: none;
    background-color: rgb(222, 230, 240);
    color: rgb(102, 110, 130);
    border: 1px solid rgb(192, 210, 220);
}

#commentDataBody {
    width: 100%;
    height: 34vh;
}

#commentContent {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgb(222, 230, 240);
    border: 1px solid rgb(192, 210, 220);
    color: rgb(102, 110, 130);
    padding: 1%;
    outline: none;
}

#navMobile {
    display: none;
    width: 100%;
    background-color: var(--PrimaryDark);
    height: 7vh;
}

.mobileIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    filter: brightness(100%);
    flex: 1 1 0;
    border-radius: 4px;
    transition: 0.25s;
    border: none;
}

.mobileIcon:hover {
    filter: brightness(80%);
}

.mobileIcon svg {
    height: 60%;
    stroke-width: 1.5px;
    width: 100%;
    aspect-ratio: 1/1;
    stroke: var(--PrimaryLight);
}

.svgTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    filter: brightness(100%);
    flex: 0.5 0.5 0;
    border-radius: 4px;
    transition: 0.25s;
    border: none;
}

.svgTitle svg {
    height: 85%;
    stroke-width: 1.5px;
    width: 100%;
    aspect-ratio: 1/1;
    stroke: var(--PrimaryLight);
}

#navMobileDivider {
    height: 100%;
    width: 1px;
    background-color: white;
}

.next,
.previous {
    background-color: var(--PrimaryLight);
    border-radius: inherit;
}

@media (max-width: 1000px) {
    #root {
        flex-direction: column;
    }
    #navMobile {
        display: flex;
    }
    #sidebar {
        display: none;
    }

    #adminContent {
        width: 100vw;
        height: 93vh;
    }

    .adminPanel {
        width: 90vw;
    }

    th {
        font-size: 2.5vw;
        word-break: break-all;
    }

    .profileDataDiv {
        gap: 1%;
    }

    .profileDataRow {
        flex-direction: column;
        align-items: start;
        gap: 1%;
    }

    .profileUsernameWrapper,
    .profileRegDateWrapper,
    .profileEmailWrapper,
    .profileIdWrapper {
        font-size: 2.5vw;
        letter-spacing: 1px;
        font-weight: 600;
        width: 100%;
    }

    #postDatas {
        gap: 0.5%;
    }

    #postId {
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
    }

    #postUserCreationDate {
        flex: 2 2 0;
        flex-direction: column;
    }

    #postDescriptionTags {
        flex: 4 4 0;
        flex-direction: column;
    }

    #postUserNameId,
    #postCreationDate {
        width: 100%;
        font-size: 0.75rem;
    }

    #postDescriptionTags textarea {
        width: 100%;
        font-size: 0.85rem;
    }

    #postLocation {
        flex: 3 3 0;
    }

    #postLocationData {
        width: 100%;
        gap: 1%;
    }

    #postLocationNameWrapper,
    #postLatitudeWrapper,
    #postLongitudeWrapper {
        flex-direction: column;
        align-items: start;
        height: 100%;
        font-size: 0.8rem;
    }

    #mapWrapper {
        display: none;
    }

    .profileData {
        width: 100% !important;
    }

    #slideshowContent {
        width: 100%;
    }

    .next,
    .previous {
        position: absolute;
        background-color: transparent;
        height: 40px;
        -webkit-text-stroke: 1px var(--PrimaryLight);
        top: calc(50% - 20px);
    }

    .next:hover,
    .previous:hover {
        background-color: transparent;
    }
    .next {
        right: 5px;
    }
    .previous {
        left: 5px;
    }
}
