:root {
    --Hatter: rgb(245, 240, 245);
    --LoginGomb: rgb(205, 175, 195);
    --LoginGombBorder: rgb(185, 155, 175);
    --LoginGombBoxShadow: rgb(215, 215, 235);
    --NavBarColor: rgb(205, 215, 155);
    --PostModalTopColor: rgb(190, 190, 190);
    --PostModalBottomColor: rgb(30, 30, 30);
}

#root {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--SecondaryDark);
}

.backgroundImageDiv {
    max-height: 50vh;
    max-width: 40vw;
    /*
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset -5px -5px 10px 5px var(--SecondaryDark);*/
    position: absolute;
    filter: blur(3px);
}

.backgroundImage {
    max-height: 50vh;
    max-width: 40vw;

    height: 100%;
    width: 100%;
    object-fit: contain;
}

.backgroundImageLeft {
    left: 2vw;
    top: 10vh;
    animation: fadeInRightLogin 1s forwards;
}

.backgroundImageRight {
    right: 3vw;
    bottom: 15vh;
    animation: fadeInLeftLogin 1s forwards;
}

.containerDiv {
    background-color: var(--Secondary);
    height: 800px;
    width: 650px;
    max-height: 95vh;
    max-width: 95vw;
    z-index: 100;
    box-shadow: 0 0 20px 1px rgba(80, 80, 65, 0.75);
    scrollbar-color: var(--PostAccent) var(--Secondary);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw 5vh 2vw;
    font-family: 'Josefin Sans', sans-serif;
}

#registrationDiv {
    height: 900px;
}

.passwordDisclaimer {
    width: 72%;
    color: var(--PostAccent);
    font-size: 16px !important;
    font-weight: 350;
    line-height: 17px;
    margin-bottom: 5px;
}

.animFadeInUp {
    animation: fadeInUp 1s forwards;
}
.animFadeInDown {
    animation: fadeInDown 1s forwards;
}
.animFadeOutUp {
    animation: fadeOutUp 1s forwards;
}
.animFadeOutDown {
    animation: fadeOutDown 1s forwards;
}

.title {
    width: 100%;
    height: fit-content;
    color: var(--PostDark);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.actionTitle {
    width: 100%;
    height: fit-content;
    color: var(--PostDark);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}

.divider {
    color: var(--PostAccent);
    opacity: 1;
    margin: 0;
}

.full {
    width: 100%;
}

.fourFifth {
    width: 80%;
}

.half {
    width: 50%;
}

.oneQuarter {
    width: 25%;
}

.loginInputWrapper {
    gap: 25px;
}

.registrationInputWrapper {
    gap: 15px;
}

.loginInputWrapper,
.registrationInputWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.loginInputDiv,
.registrationInputDiv {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 75%;
    flex: 1 1 0;
    max-height: 17.5%;
    min-height: 54px;
}

.loginInputDiv span,
.registrationInputDiv span {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
    min-height: 24px;
    font-size: 24px;
    color: var(--PostDark);
    font-weight: 350;
}

.loginInput {
    background-color: var(--Secondary);
    border: 1px solid var(--PostAccent);
    border-radius: 5px;
    min-height: 30px;
    padding: 2px 3px 2px 12px;
    flex: 2 2 0;
    font-size: 20px;
    outline: none;
    color: var(--PostDark);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 350;
}

.registrationInput {
    background-color: var(--Secondary);
    border: 1px solid var(--PostAccent);
    border-radius: 5px;
    min-height: 30px;
    padding: 2px 3px 2px 12px;
    flex: 2 2 0;
    font-size: 20px;
    outline: none;
    color: var(--PostDark);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 350;
}

.loginInput:focus {
    padding: 1px 2px 1px 11px;

    border: 2px solid var(--PostAccent);
}

.registrationInput:focus {
    padding: 1px 2px 1px 11px;

    border: 2px solid var(--PostAccent);
}

.passwordWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Secondary);
    border: 1px solid var(--PostAccent);
    min-height: 34px;
    font-size: 20px;
    flex: 2 2 0;
    border-radius: 5px;
    width: 100%;
}

.passwordWrapper .loginInput {
    height: 100%;
    max-width: 90%;
    flex: 9 9 0;
    border: none;
    border-right: 1px solid var(--PostAccent);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.passwordWrapper .registrationInput {
    height: 100%;
    max-width: 90%;
    flex: 9 9 0;
    border: none;
    border-right: 1px solid var(--PostAccent);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.showPasswordButton {
    flex: 1 1 0;
    max-width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: inherit;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    filter: brightness(100%);
    transition: 0.25s;
}

.showPasswordButton svg {
    stroke-width: 1.5px;
    stroke: var(--PostAccent);
}

.passwordWrapper:focus-within {
    border-width: 2px;
}
.passwordWrapper:focus-within .showPasswordButton svg {
    stroke-width: 2px;
}

.passwordWrapper:focus-within .registrationInput {
    padding: 1px 2px 1px 11px;
    border-right: 2px solid var(--PostAccent);
}

.showPasswordButton:hover {
    filter: brightness(90%);
}

#loginButton,
#registrationButton {
    flex: 1 1 0;
    max-height: 12%;
    min-height: 30px;
    width: 66%;
    background-color: var(--LoginGomb);
    border: none;
    border-radius: 10px;
    color: var(--Secondary);
    margin-top: 3vh;
    filter: brightness(100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.25s;
}

#loginButton span,
#registrationButton span {
    font-size: 24px;
    font-weight: 400;
}

#loginButton svg,
#registrationButton svg {
    stroke: var(--Secondary);
    stroke-width: 2px;
    height: 100%;
    max-height: 36px;
}

#registrationButton svg {
    stroke-width: 1px;
}

#loginButton:hover,
#registrationButton:hover {
    filter: brightness(85%);
}

.toggleRegistrationLogin {
    color: var(--LoginGomb);
    background-color: var(--Secondary);
    border: none;
    width: 30%;
    height: 6%;
    min-height: 20px;
    text-align: center;
    font-size: 18px;
    transition: 0.25s;
    border-radius: 10px;
    filter: brightness(100%);
    margin-top: 20px;
}

#switchToLogin {
    margin-top: 20px;
}

.toggleRegistrationLogin:hover {
    filter: brightness(90%);
}

#registrationFeedback {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(80, 80, 65, 0.75);
    top: 5vh;
    z-index: 1000;
    width: 350px;
    height: 200px;
    background-color: var(--Secondary);
    opacity: 0;
}

#registrationStatus {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-size: 36px;
    color: var(--Secondary);
}

.successfulRegistration {
    background-color: var(--successGreen);
}

.failedRegistration {
    background-color: var(--invalidRed);
}

#registrationMessage {
    flex: 2 2 0;
    background-color: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 18px;
    font-weight: 350;
    color: var(--PostDark);
}

.invalid {
    border-color: var(--invalidRed) !important;
    border-width: 2px !important;
    color: var(--invalidRed) !important;
}

.invalid .registrationInput,
.invalid .loginInput {
    color: var(--invalidRed) !important;
}

.invalid .registrationInput,
.invalid .loginInput {
    color: var(--invalidRed) !important;
    border-right: 2px solid var(--invalidRed) !important;
}

.invalid .showPasswordButton svg {
    stroke: var(--invalidRed) !important;
}

/*

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: 750 !important;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 4 0;
}

.loginDoboz2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3 3 0;
    bottom: 5%;
    height: 50%;
}

.loginTitle {
    display: flex;
    justify-content: center;
    height: 33%;
}

.loginTitle h1 {
    font-size: 3vw !important;
    font-weight: 750 !important;
}

.loginSorok {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 1%;
    width: 100%;
    flex: 1 1 0;
}

.loginSorok label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2 2 0;
}

.inputMezo {
    flex: 3 3 0;
}

#loginButton, #registrationButton {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    font-weight: bold;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
    width: 50%;
}

input[type='button'] {
    border-radius: 5px;
}

.loginBtn {
    display: flex;
    justify-content: center;
    margin-top: 4.2%;
    flex: 1 1 0;
}

.loginSorok label input {
    position: relative;
    width: 50%;
    flex: 1 1 0;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#regButton {
    position: relative;
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    margin-top: 4.2%;
    font-weight: bold;
}

.vonal {
    margin-top: 6.7%;
}

.invisible {
    display: none;
}

#loginForm {
    height: 67%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10%;
}

*/
