:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --LoginGombBorder: rgb(187, 153, 173);
    --LoginGombBoxShadow: rgb(217, 213, 233);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--SecondaryDark);
}

.backgroundImage {
    height: 50vh;
    width: 40vw;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset -5px -5px 10px 5px var(--SecondaryDark);
    position: absolute;
    filter: blur(3px);
}

.backgroundImage1 {
    background-image: url('/images/backgroundImage1.png');
    left: 2vw;
    top: 10vh;
    transform: rotateZ(-15deg);
}

.backgroundImage2 {
    background-image: url('/images/backgroundImage2.png');
    transform: rotateZ(10deg);
    right: 2vw;
}

.containerDiv {
    background-color: var(--Secondary);
    height: 800px;
    width: 650px;
    max-height: 95vh;
    max-width: 95vw;
    z-index: 100;
    box-shadow: 0 0 15px 1px rgba(99, 99, 84, 0.75);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 30px 50px 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    width: 90%;
    height: fit-content;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--PostAccent);
    color: var(--PostDark);
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.action {
    width: 50%;
    height: fit-content;
    border-bottom: 1px solid var(--PostAccent);
    color: var(--PostDark);
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

.loginInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 75%;
    font-size: 24px;
    flex: 1 1 0;
    max-height: 12%;
    min-height: 30px;
}

.loginInput input {
    background-color: var(--Secondary);
    border: 1px solid var(--PostAccent);
    border-radius: 3px;
    height: 66%;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    color: var(--PostDark);
}

.loginInput input:focus {
    border-color: var(--Secondary);
    box-shadow: 0 0 2px 1px var(--PostAccent);
}

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: 750 !important;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 4 0;
}

.loginDoboz2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3 3 0;
    bottom: 5%;
    height: 50%;
}

.loginTitle {
    display: flex;
    justify-content: center;
    height: 33%;
}

.loginTitle h1 {
    font-size: 3vw !important;
    font-weight: 750 !important;
}

.loginSorok {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 1%;
    width: 100%;
    flex: 1 1 0;
}

.loginSorok label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2 2 0;
}

.inputMezo {
    flex: 3 3 0;
}

#loginButton {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    font-weight: bold;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
    width: 50%;
}

input[type='button'] {
    border-radius: 5px;
}

.loginBtn {
    display: flex;
    justify-content: center;
    margin-top: 4.2%;
    flex: 1 1 0;
}

.loginSorok label input {
    position: relative;
    width: 50%;
    flex: 1 1 0;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#regButton {
    position: relative;
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    margin-top: 4.2%;
    font-weight: bold;
}

.vonal {
    margin-top: 6.7%;
}

.invisible {
    display: none;
}

#loginForm {
    height: 67%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10%;
}

@keyframes invalidShake {
    0% {
        left: 0px;
        right: 0px;
    }
    25% {
        right: 0px;
        left: 10px;
    }

    50% {
        right: 10px;
        left: -10px;
    }
    100% {
        left: 0px;
        right: 0px;
        border: 2px solid var(--invalidRed);
    }
}

.invalid {
    border: 2px solid var(--invalidRed);
}
