:root {
    --Hatter: rgb(245, 240, 245);
    --invalidRed: rgb(191, 26, 26);
    --successGreen: rgb(50, 150, 30);
    --interactiveBlue: rgb(6, 7, 113);
    --LoginGomb: rgb(207, 173, 193);
    --LoginGombBorder: rgb(187, 153, 173);
    --LoginGombBoxShadow: rgb(217, 213, 233);
    --NavBarColor: rgb(203, 217, 155);
    --PostModalTopColor: rgb(188, 188, 188);
    --PostModalBottomColor: rgb(30, 30, 30);
}

.loginMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: 750 !important;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.loginDoboz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4 4 0;
}

.loginDoboz2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3 3 0;
    bottom: 5%;
    height: 50%;
}

.loginTitle {
    display: flex;
    justify-content: center;
    height: 33%;
}

.loginTitle h1 {
    font-size: 3vw !important;
    font-weight: 750 !important;
}

.loginSorok {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 1%;
    width: 100%;
    flex: 1 1 0;
}

.loginSorok label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2 2 0;
}

.inputMezo {
    flex: 3 3 0;
}

#loginButton {
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    font-weight: bold;
}

.inputMezo {
    border: 2px darkslategray solid;
    border-radius: 5px;
    width: 50%;
}

input[type='button'] {
    border-radius: 5px;
}

.loginBtn {
    display: flex;
    justify-content: center;
    margin-top: 4.2%;
    flex: 1 1 0;
}

.loginSorok label input {
    position: relative;
    width: 50%;
    flex: 1 1 0;
}

.loginRegText {
    font-weight: 400;
    color: var(--interactiveBlue);
}

.loginRegText:hover {
    cursor: pointer;
}

#regButton {
    position: relative;
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
    border-color: darkslategray;
    background-color: var(--LoginGomb);
    margin-top: 4.2%;
    font-weight: bold;
}

.vonal {
    margin-top: 6.7%;
}

.invisible {
    display: none;
}

#loginForm {
    height: 67%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10%;
}

@keyframes invalidShake {
    0% {
        left: 0px;
        right: 0px;
    }
    25% {
        right: 0px;
        left: 10px;
    }

    50% {
        right: 10px;
        left: -10px;
    }
    100% {
        left: 0px;
        right: 0px;
        border: 2px solid var(--invalidRed);
    }
}

.invalid {
    border: 2px solid var(--invalidRed);
}
